<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1360, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='https://animaproject.s3.amazonaws.com/home/favicon.png')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/overview-main.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/globals.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" type="text/javascript"></script>
  </head>
  <body style="margin: 0; background: #ffffff" onload="resetVariables(); getTotal(); changeToKWH(); populatePanel(); changeDotColourCategory();">
    <input type="hidden" id="anPageName" name="page" value="overview-main" />
    <div class="container-center-horizontal">
      <div class="overview-main screen">
        <div class="rectangle-2893-l6cqYc"  id = 'leftretract'>
        <div class = 'activeline'></div>
        <img class = 'retractbuttonleft' id = 'leftbutton' onclick = "retractleft()" src = "{{url_for('static',filename='img/retractbuttonbackground.png')}}"/><img class = 'retractbuttonarrowleft'  onclick = "retractleft()" id = 'leftarrow' src = "{{url_for('static',filename='img/retractbuttonarrow.png')}}"/>
        <div class="header-l6cqYc" id = 'logodiv'><img class="pollen-2-7QcJ16" id = logoimage src="{{url_for('static',filename='img/logoimage.png')}}" /></div>
        <div class="dashboard-l6cqYc" id = 'dashboard'><img class="dashboardimage" src="{{url_for('static',filename='img/dashboardimage.png')}}" />Dashboard</div>
        <div class="overview-l6cqYc" id = 'liveusage'><img class="liveusageimage" src="{{url_for('static',filename='img/liveusageonimage.png')}}" />Live Usage</div>
        <a href = "{{url_for('commercial.historicalusage')}}"><div class="historical-l6cqYc avertacy-bold-sapphire-13px" id = 'historical'><img class="historicalimage" src="{{url_for('static',filename='img/historicalimage.png')}}" />Historical</div></a>
        <div class="inventory-l6cqYc" id = 'inventory'><img class="inventoryimage" src="{{url_for('static',filename='img/inventoryimage.png')}}" />Inventory</div>
        <div class="utilities-l6cqYc" id = 'utilities'><img class="utilitiesimage" src="{{url_for('static',filename='img/utilitiesimage.png')}}" />Utilities</div>
        <a href = "{{url_for('accounts.logout')}}"><div class="logout-l6cqYc avertacy-bold-sapphire-13px" id = 'logout'><img class="logoutimage" src="{{url_for('static',filename='img/logoutimage.png')}}" />Logout</div></a>

        <div class = 'imageblock' id ='imageblock'>
        <img class="kaltire-256-2-l6cqYc" src="{{url_for('static',filename='img/kaltire--256-2@22x.png')}}" />
        <div class = 'buildingname'>Butetown Store</div>
        <p class="x4720-yellowhead-on-ab-t5-l-3-cs-l6cqYc">4720 Yellowhead Trail NW</p>
        <div class = 'aboutbutton'><img class="info-imageblue" src="{{url_for('static',filename='img/infoimageblue.png')}}"/>About</div>
        <div class = 'switchbutton'><img class="info-imageblue" src="{{url_for('static',filename='img/switchimage.png')}}"/>Switch</div>
        <div class="group-7195-l6cqYc">
          <div class="rectangle-2316-33iHaU"></div>
          <div class="chevron-down-33iHaU"><img class="vector-LNtgXx" src="{{url_for('static',filename='img/vector@22x.svg')}}" /></div>
            </div>
        </div>
    </div>

        <div class = "rightside" id = 'rightside'>
        <div class = 'retractblock'>
        <img class = 'retractbutton'  onclick = "retract()" src = "{{url_for('static',filename='img/retractbuttonbackground.png')}}"/><img class = 'retractbuttonarrowright' id = 'rightarrow'  onclick = "retract()" src = "{{url_for('static',filename='img/retractbuttonarrow.png')}}"/></div>
        <div class = "rightabsolute">
        <div class = 'rightsidetitle'>Load Breakdown</div>
        <div class = 'tab'>
        <button class="category-l6cqYc avertacy-bold-sapphire-15px tablinks" id = "defaultOpen" onclick = "openCity(event, 'Category'); changeDotColourCategory();">Category</button>
        <button class="panel-l6cqYc avertacy-bold-sapphire-15px tablinks" onclick = "openCity(event, 'Panel'); changeDotColourPanel();">Panel</button>
        </div>
        <div id="Panel" class="tabcontent">
        <div class="energy-breakdown-l6cqYc">
                <div id="chart"></div>
        </div>
        <div class="x100-l6cqYc" id = 'percent3'></div>
        <div class="rectangle-2973-l6cqYc">
        <div class="rectangle-152-l6cqYc"></div>
        <div class="electrical-panels-l6cqYc2 avertacy-bold-sapphire-15px" style = 'color: #0D1758;'>Electrical Panels</div>

        {% for i in range(0, numpanels) %}

        <div class="rectangle-23402-l6cqYc">
        <div class="panel-a2-l6cqYc avertacy-bold-sapphire-12px" onclick = "openNav('{{panelnames[i]}}',{{i}});openCity2(event, 'Specs');">{{panelnames[i]}}</div>
        <div class="x43-l6cqYc avertacy-bold-sapphire-12px" id = "{{panelnames[i]}}"></div>
        <input type= 'checkbox' onclick = 'togglePanel("{{panelnames[i]}}", {{i}}); checkIf0();' class="rectangle-30242-l6cqYc"style = "background-color: {{colours[i]}};" id = 'panel1check'checked/><label for = 'panel1check'></label>
        <div class="info"onclick = "openNav('{{panelnames[i]}}',{{i}});openCity2(event, 'Specs');"><img class="info-image" src="{{url_for('static',filename='img/infoimage1.png')}}" onclick = "openNav('{{panelnames[i]}}',{{i}});openCity2(event, 'Specs');"/></div></div>
        <div class = 'panelpercent avertacy-bold-sapphire-12px'>{{panelpercent[i]}}%</div>

        {% endfor %}
    </div>
    </div>
            <div id = 'sidebar' class = 'sidebar'>
      <div class="frame-1 screen">
        <h1 class="title-VxPVnb"><span id = "panelletter"></span></h1>
        <div class = "tabss">
        <button class="circuits-VxPVnb avertacy-bold-sapphire-20px tablinksss" onclick = "openCity2(event, 'Circuits');currentSlide(1)">Circuits</button>
        <button id = 'specs' class="specs-VxPVnb tablinksss" onclick = "openCity2(event, 'Specs');currentSlide(1)">Specs</button></div>
        <div id="Specs" class="tabcontentss">
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panelimage1.jpg')}}" /><div class="photo-1-VxPVnb">Photo - 1</div></div>
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panelimage2.jpg')}}" /><div class="photo-1-VxPVnb">Photo - 2</div></div>
        <div class="group-7236-VxPVnb" onclick = "plusSlides(-1)">
          <div class="rectangle-2316-WT5zFx"></div>
          <div class="chevron-down-WT5zFx"><img class="vector-QZDvpC" src="{{url_for('static',filename='img/vector@222x.svg')}}" /></div>
        </div>
        <div class="group-7237-VxPVnb" onclick = "plusSlides(1)">
          <div class="rectangle-2316-ixtSxg"></div>
          <div class="chevron-down-ixtSxg"><img class="vector-KEByjY" src="{{url_for('static',filename='img/vector-1@222x.svg')}}" /></div>
        </div>
        <div class="group-VxPVnb" onclick = "closeNav();openCity2(event, 'KWH')"><img class="vector-JRdMbc" src="{{url_for('static',filename='img/vector-2@222x.svg')}}" /></div>
        <div class="rectangle-3377-VxPVnb"></div>
        <div class="rectangle-3378-VxPVnb"></div>
        <div class="rectangle-3379-VxPVnb"></div>
        <div class="rectangle-3380-VxPVnb"></div>
        <div class="rectangle-3381-VxPVnb"></div>
        <div class="rectangle-3382-VxPVnb"></div>
        <div class="voltage-VxPVnb avertacy-bold-sapphire-8px">Voltage</div>
        <div class="phase-VxPVnb avertacy-bold-sapphire-8px">Phase</div>
        <div class="type-VxPVnb avertacy-bold-sapphire-8px">Type</div>
        <div class="location-VxPVnb avertacy-bold-sapphire-8px">Location</div>
        <div class="ciruits-VxPVnb avertacy-bold-sapphire-8px">Ciruits</div>
        <div class="x120208-v-VxPVnb avertacy-bold-sapphire-20px">120/208V</div>
        <div class="x3-phase-VxPVnb avertacy-bold-sapphire-20px">3-Phase</div>
        <div class="type-q-VxPVnb avertacy-bold-sapphire-20px">Type-Q</div>
        <div class="shop-VxPVnb avertacy-bold-sapphire-20px">Shop</div>
        <div class="x52-VxPVnb avertacy-bold-sapphire-20px" id = 'circuitcount'></div>
    </div>
<div id="Circuits" class="tabcontentss">
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panelimage1.jpg')}}" /><div class="photo-1-VxPVnb">Photo - 1</div></div>
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panelimage2.jpg')}}" /><div class="photo-1-VxPVnb">Photo - 2</div></div>
        <div class="group-7236-VxPVnb" onclick = "plusSlides(-1)">
          <div class="rectangle-2316-WT5zFx"></div>
          <div class="chevron-down-WT5zFx"><img class="vector-QZDvpC" src="{{url_for('static',filename='img/vector@222x.svg')}}" /></div>
        </div>
        <div class="group-7237-VxPVnb" onclick = "plusSlides(1)">
          <div class="rectangle-2316-ixtSxg"></div>
          <div class="chevron-down-ixtSxg"><img class="vector-KEByjY" src="{{url_for('static',filename='img/vector-1@222x.svg')}}" /></div>
        </div>
        <div class="group-VxPVnb" onclick = "closeNav();openCity2(event, 'KWH')"><img class="vector-JRdMbc" src="{{url_for('static',filename='img/vector-2@222x.svg')}}" /></div>
        <div class="frame-1 screen">
        <div class="rectangle-3000-VxPVnb">
        <div class="rectangle-3001-VxPVnb"></div>
        {% for j in range (0, numpanels) %}
        {% for i in range(0, circuitcount[j]) %}
        <div class="rectangle-3002-VxPVnb {{panelnames[j]}}" style = 'display: none;'>
        <div class="x1-shop-lighting-1-VxPVnb avertacy-bold-sapphire-12px">{{panelcircuits.iloc[i][j]}}</div>
        </div>
        {% endfor %}
        {% endfor %}

    </div>
      </div>
    </div>
      </div>

    </div>
        <div id="Category" class="tabcontent categorytabcontent">
        <div class="energy-breakdown-l6cqYc">
                <div id="chart2"></div>
        </div>
        <div class="x100-l6cqYc"id = 'percent4'></div>
        <div class="rectangle-2973-l6cqYc">

        <div class="electrical-panels-l6cqYc avertacy-bold-sapphire-15px" style = 'color: #0D1758;'>Categories</div>
        <div class="rectangle-15-l6cqYc"></div>

        <div class="rectangle-2974-l6cqYc">
            <input type= 'checkbox' style = 'background-color: {{categoriesdf.iloc[0][2]}};' class="rectangle-3024-l6cqYc" id= 'panel1check' onclick= "toggleMaster('{{categoriesdf.iloc[0][0]}}'); checkIf0();" checked/><label for = 'panel1check'></label>
            <div class="panel-a-l6cqYc avertacy-bold-sapphire-12px">{{categoriesdf.iloc[0][0]}}</div>
            <div class="x12-l6cqYc avertacy-bold-sapphire-12px" id = '{{categoriesdf.iloc[0][4]}}'></div>
        </div>

        <div class="rectangle-2974-l6cqYc">
            <input type= 'checkbox' style = 'background-color: {{categoriesdf.iloc[1][2]}};' class="rectangle-3025-l6cqYc"id= 'panel2check' onclick= "toggleMaster('{{categoriesdf.iloc[1][0]}}'); checkIf0();" checked/><label for = 'panel2check'></label>
            <div class="panel-a-l6cqYc avertacy-bold-sapphire-12px">{{categoriesdf.iloc[1][0]}}</div>
            <div class="x12-l6cqYc avertacy-bold-sapphire-12px"  id = '{{categoriesdf.iloc[1][4]}}'></div>
        </div>

        <div class="rectangle-2974-l6cqYc">
            <input type= 'checkbox' style = 'background-color: {{categoriesdf.iloc[2][2]}};' class="rectangle-3026-l6cqYc"id= 'panel1check' onclick= "toggleMaster('{{categoriesdf.iloc[2][0]}}'); checkIf0();" checked/><label for = 'panel2check'></label>
            <div class="panel-a-l6cqYc avertacy-bold-sapphire-12px">{{categoriesdf.iloc[2][0]}}</div>
            <div class="x12-l6cqYc avertacy-bold-sapphire-12px" id = '{{categoriesdf.iloc[2][4]}}'></div>
        </div>

        <div class="rectangle-2974-l6cqYc">
            <input type= 'checkbox' style = 'background-color: {{categoriesdf.iloc[3][2]}};' class="rectangle-3027-l6cqYc"id= 'panel1check' onclick= "toggleMaster('{{categoriesdf.iloc[3][0]}}'); checkIf0();" checked/><label for = 'panel2check'></label>
            <div class="panel-a-l6cqYc avertacy-bold-sapphire-12px">{{categoriesdf.iloc[3][0]}}</div>
            <div class="x12-l6cqYc avertacy-bold-sapphire-12px" id = '{{categoriesdf.iloc[3][4]}}'></div>
        </div>

        <div class="rectangle-2974-l6cqYc">
            <input type= 'checkbox' style = 'background-color: {{categoriesdf.iloc[4][2]}};' class="rectangle-3028-l6cqYc"id= 'panel1check' onclick= "toggleMaster('{{categoriesdf.iloc[4][0]}}'); checkIf0(); " checked/><label for = 'panel1check'></label>
            <div class="panel-a-l6cqYc avertacy-bold-sapphire-12px">{{categoriesdf.iloc[4][0]}}</div>
            <div class="x12-l6cqYc avertacy-bold-sapphire-12px" id = '{{categoriesdf.iloc[4][4]}}'></div>
        </div>

        <div class="rectangle-2974-l6cqYc">
            <input type= 'checkbox' style = 'background-color: {{categoriesdf.iloc[5][2]}};' class="rectangle-3029-l6cqYc"id= 'panel1check' onclick= "toggleMaster('{{categoriesdf.iloc[5][0]}}'); checkIf0();" checked/><label for = 'panel1check'></label>
            <div class="panel-a-l6cqYc avertacy-bold-sapphire-12px">{{categoriesdf.iloc[5][0]}}</div>
            <div class="x12-l6cqYc avertacy-bold-sapphire-12px" id = '{{categoriesdf.iloc[5][4]}}'></div>
        </div>
    </div>
        </div>
    </div>
</div>
    <div class = 'historicalsavingsblock' id ='historicalblock'>
        <img class="historicalsavingsimage" src="{{url_for('static',filename='img/historicalsavingsimage.png')}}" />
        <div class = 'savingstext'>You saved a total energy of <span class = actualsavings>30%</span></div>
        <a href = "{{url_for('commercial.historicalusage')}}"><img class="seehistoricalimage" src="{{url_for('static',filename='img/seehistorical.png')}}" /></a>
        <div class = 'historicalblockretract'><img class = 'historicalarrow' id = 'historicalarrow' onclick = "retracthistorical()" src = "{{url_for('static',filename='img/historicalarrow.png')}}"/></div>

    </div>
   <div class = 'Live-Usage' id = 'Live-Usage'> 
   <div class = 'header' id = 'header'>
            <h1 class="title-l6cqYc">Live Usage</h1>
            <div class = 'viewselector'>
                <img class="categoryview" src="{{url_for('static',filename='img/bubbleviewimage.png')}}" />
                <img class="categoryview" src="{{url_for('static',filename='img/bar-image.png')}}" />
            </div>
            <div class="column-names">
                <div class = 'runningcolumn'>Running</div>
                <div class = 'percentcolumn'>Percentage</div>
                <div class = "tabss tabssusage" style = 'background-color: transparent;'>
                    <input type = 'radio' checked id = 'watts' name = 'liveusagedata' class="k-wh-l6cqYc tablinksss" onclick = " changeToKWH(); openCity2(event, 'KWH');"><label for = 'watts' class=k-wh-l6cqYc>Energy</label>
                    <input type = 'radio' id = 'cost' name = 'liveusagedata' class="x-l6cqYc tablinksss" onclick = " changeTo$(); openCity2(event, '$');" id = "defaultOpenss"><label for = 'cost' class = x-l6cqYc>Cost</label>
            </div>
            </div>
        </div>
        <div class = "scrollable" id = 'scrollable'>
        <div id="KWH" class="tabcontentss">
        {% set channelnum = namespace(value=0) %}
        {% for i in range(0, len) %}
        <div class="rectangle-3165-l6cqYc {{home_upgrades.iloc[i][5]}} {{home_upgrades.iloc[i][4]}}">
        <div class = 'categorycircle {{home_upgrades.iloc[i][5]}}colour {{home_upgrades.iloc[i][4]}}colour' ></div>
        <div class="lunchroom-lights-l6cqYc avertacy-bold-apple-11px" {% if home_upgrades.iloc[i][2] == 0 %} style = 'color: grey;'{% endif %}>{{home_upgrades.iloc[i][0]}}</div>
        <div class="x233hr-l6cqYc"{% if home_upgrades.iloc[i][2] == 0 %} style = ' color: grey;'{% endif %}>{{"%.2f"|format(home_upgrades.iloc[i][2]|float)}}w</div>
        <div class="rectangle-3184-l6cqYc" {% if home_upgrades.iloc[i][2] == 0 %} style = 'width: 2px; background-color: grey;'{% elif home_upgrades.iloc[i][2] > 0  %} style = 'width: {{250 * (home_upgrades.iloc[i][2]/total) + 5}}px;'{% endif %}>
        <div class="x21-Al4pJ9" {% if home_upgrades.iloc[i][2] == 0 %} style = 'left: {{250 * (home_upgrades.iloc[i][2]/total) + 5}}px; background-color: grey; color: grey;'{% elif home_upgrades.iloc[i][2] > 0  %} style = 'left: {{250 * (home_upgrades.iloc[i][2]/total) + 5}}px;'{% endif %}>{{"%.2f"|format(((home_upgrades.iloc[i][2]/ total) * 100)|float)}}%</div>
        </div>
        </div>
        {% set channelnum.value = channelnum.value + 1 %}
        {% endfor %}
        <div class="rectangle-3203-l6cqYc"  id = 'totalbar'>
        <div class="total-l6cqYc">Total</div>
        <div class="rectangle-3204-l6cqYc"><div class="x100-Al4pJ9"id = 'percentage'></div></div>
        <div class="x674hr-l6cqYc" id = 'total'></div></div>
    </div>
        <div id="$" class="tabcontentss cost">
        {% set channelnum = namespace(value=0) %}
        {% for i in range(0, pricelength) %}
        <div class="rectangle-3165-l6cqYc {{home_upgrades.iloc[i][5]}} {{home_upgrades.iloc[i][4]}}">
        <div class = 'categorycircle {{home_upgrades.iloc[i][5]}}colour {{home_upgrades.iloc[i][4]}}colour'></div>
        <div class="lunchroom-lights-l6cqYc avertacy-bold-apple-11px"{% if (price.iloc[i][2]) == 0 %} style = 'color: grey;'{% endif %}>{{price.iloc[i][0]}}</div>
        <div class="x233hr-l6cqYc" {% if price.iloc[i][2] == 0 %} style = 'color: grey;'{% endif %}>{% if price.iloc[i][2] >= 0.01 or price.iloc[i][2] == 0 %}{{"$%.2f"|format(price.iloc[i][2]|float)}}/hr {% endif %} {% if price.iloc[i][2] < 0.01 and price.iloc[i][2] > 0 %}>$0.01/hr {% endif %} </div>
        <div class="rectangle-3184-l6cqYc" {% if price.iloc[i][2] == 0 %} style = 'width: 2px; background-color: grey;'{% elif price.iloc[i][2]> 0  %} style = 'width: {{250 * (price.iloc[i][2]/totalprice) + 5}}px;'{% endif %}>
        <div class="x21-Al4pJ9" {% if price.iloc[i][2] == 0 %} style = 'left: {{250 * (price.iloc[i][2]/totalprice) + 5}}px; background-color: grey; color: grey;'{% elif price.iloc[i][2] > 0  %} style = 'left: {{250 * (price.iloc[i][2]/totalprice) + 5}}px;'{% endif %}>{{"%.2f"|format(((price.iloc[i][2]/ totalprice) * 100)|float)}}%</div></div></div>
        {% set channelnum.value = channelnum.value + 1 %}
        {% endfor %}
        <div class="rectangle-3203-l6cqYc" id = 'totalbar2'>
        <div class="total-l6cqYc">Total</div>
        <div class="rectangle-3204-l6cqYc"><div class="x100-Al4pJ9"id = 'percent2'></div></div>
        <div class="x674hr-l6cqYc" id = 'totalprice'></div></div>
    </div>
        </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var options = {
                              labels: ["Panel 1-A", "Panel 1-B", "DHW", "Mechanical"],
                              series: [{{paneltotal[0]}},{{paneltotal[1]}}],
                              chart: {
                              width: 200,
                              height: 200,
                              type: 'donut',
                            },
                            dataLabels: {
                              enabled: false
                            },
                            tooltip:{
                                enabled: false
                            },
                            legend: {
                                position: 'bottom',
                                show:false
                            },

                            colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#90C449','#DBE2F3'],

                            responsive: [{
                              breakpoint: 480,
                              options: {
                                chart: {
                                  width: 300
                                },
                              }
                            }]
                            };
                            var chart1 = new ApexCharts(document.querySelector("#chart"), options);
                            chart1.render();
                            var options = {
                              labels: ["Lighting", "Equipment", "HVAC", "Plug Load", "Hot Water", "Other"],
                              series: [{{lighttotal}},{{equipmenttotal}},{{hvactotal}},{{plugtotal}},{{watertotal}},{{othertotal}}],
                              chart: {
                              width: 200,
                              height: 200,
                              type: 'donut',
                            },
                            dataLabels: {
                              enabled: false
                            },
                            tooltip:{
                                enabled: false
                            },
                            legend: {
                                position: 'bottom',
                                show:false
                            },

                            colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#90C449','#DBE2F3'],
                            responsive: [{
                              breakpoint: 480,
                              options: {
                                chart: {
                                  width: 300
                                },
                              }
                            }]
                            };
                            var chart2 = new ApexCharts(document.querySelector("#chart2"), options);
                            chart2.render();

  </script>
    <script>
      function changeDotColourPanel(){
       var colours = {{colours | tojson}};
       var x = {{numpanels}};
       var panelnames = {{panelnames | tojson}};
       var i;
       for(i = 0; i < x; i++){
         var j = document.getElementsByClassName(panelnames[i] + 'colour');
         for(var l = 0; l < j.length; l++){
             j[l].style.backgroundColor = colours[i];
         }
       }
       }
       function changeDotColourCategory(){
       var colours = {{colours | tojson}};
       var x = 6;
       var categorynames = ['lighting','equipment','hvac','plugload','hotwater','other'];
       var i;
       for(i = 0; i < x; i++){
         var j = document.getElementsByClassName(categorynames[i] + 'colour');
         for(var l = 0; l < j.length; l++){
             j[l].style.backgroundColor = colours[i];
         }
       }
       }
  </script>
  <script>
    var panelnumber = 0;
    var circuitcount = {{circuitcount}};
    function openNav(panel, number) {
  document.getElementById("sidebar").style.width = "600px";
  document.getElementById("sidebar").style.boxShadow  = "0 0 0 10000px rgba(0,0,0,.50)";
  document.getElementById("panelletter").innerHTML = panel;
  document.getElementById("circuitcount").innerHTML = circuitcount[number];
  var x = document.getElementsByClassName(panel);
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  }
}

}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {  
    document.getElementById("sidebar").style.boxShadow  = "0 0 0 0px rgba(0,0,0,.50)";
    document.getElementById("sidebar").style.width = "0";
    var x = document.getElementsByClassName('rectangle-3002-VxPVnb');
      var i;
      for (i = 0; i < x.length; i++) {
        if (x[i].style.display === "block") {
        x[i].style.display = "none";
      }
    }
    }

    function retractleft() {
    if(document.getElementById("leftretract").style.width != "80px"){
  document.getElementById("leftretract").style.width = "80px";
  document.getElementById("dashboard").style.color = "white";
  document.getElementById("liveusage").style.color = "white";
  document.getElementById("historical").style.color = "white";
  document.getElementById("inventory").style.color = "white";
  document.getElementById("utilities").style.color = "white";
  document.getElementById("logout").style.color = "white";
  document.getElementById("leftbutton").style.left = "57px";
  document.getElementById("leftarrow").style.left = "64px";
  document.getElementById("leftarrow").style.transform = "rotate(0.5turn)";
  document.getElementById("logoimage").src = "{{url_for('static',filename='img/logosmall.png')}}";
  document.getElementById("logodiv").style.left = "15px";
  document.getElementById("imageblock").style.display = "none";

  if(document.getElementById("rightside").style.width != "40px"){
      document.getElementById("Live-Usage").style.width = "912px";
      document.getElementById("header").style.width = "912px";
      document.getElementById("scrollable").style.width = "912px";
      document.getElementById("historicalblock").style.width = "912px";
      document.getElementById("totalbar").style.width = "882.24px";
      document.getElementById("totalbar2").style.width = "882.24px";
      document.getElementById("Live-Usage").style.left = "152px";;
      document.getElementById("historicalblock").style.left = "152px";;
      document.getElementById("totalbar").style.left = "172px";
      document.getElementById("totalbar2").style.left = "172px";
  }

    else if(document.getElementById("rightside").style.width == "40px"){
      document.getElementById("Live-Usage").style.width = "1300px";
      document.getElementById("header").style.width = "1300px";
      document.getElementById("scrollable").style.width = "1300px";
      document.getElementById("historicalblock").style.width = "1300px";
      document.getElementById("totalbar").style.width = "1248px";
      document.getElementById("totalbar2").style.width = "1248px";
      document.getElementById("Live-Usage").style.left = "152px";
      document.getElementById("historicalblock").style.left = "152px";
      document.getElementById("totalbar").style.left = "172px";
      document.getElementById("totalbar2").style.left = "172px";
  }
}
else{
  document.getElementById("leftretract").style.width = "248px";
  document.getElementById("dashboard").style.color = "#AFB8CC";
  document.getElementById("liveusage").style.color = "#6285FB";
  document.getElementById("historical").style.color = "#AFB8CC";
  document.getElementById("inventory").style.color = "#AFB8CC";
  document.getElementById("utilities").style.color = "#AFB8CC";
  document.getElementById("logout").style.color = "#AFB8CC";
  document.getElementById("leftbutton").style.left = "225px";
  document.getElementById("leftarrow").style.left = "232px";
  document.getElementById("leftarrow").style.transform = "rotate(1turn)";
  document.getElementById("logoimage").src = "{{url_for('static',filename='img/logoimage.png')}}";
  document.getElementById("logodiv").style.left = "33px";
  document.getElementById("imageblock").style.display = "block";

  if(document.getElementById("rightside").style.width != "40px"){
      document.getElementById("Live-Usage").style.width = "744px";
      document.getElementById("historicalblock").style.width = "744px";
      document.getElementById("header").style.width = "744px";
      document.getElementById("scrollable").style.width = "744px";
      document.getElementById("totalbar").style.width = "714.24px";
      document.getElementById("totalbar2").style.width = "714.24px";
      document.getElementById("Live-Usage").style.left = "320px";
      document.getElementById("historicalblock").style.left = "320px";
      document.getElementById("totalbar").style.left = "340px";
      document.getElementById("totalbar2").style.left = "340px";
    }
    else if(document.getElementById("rightside").style.width == "40px"){
      document.getElementById("Live-Usage").style.width = "1150px";
      document.getElementById("historicalblock").style.width = "1150px";
      document.getElementById("header").style.width = "1150px";
      document.getElementById("scrollable").style.width = "1150px";
      document.getElementById("totalbar").style.width = "1119px";
      document.getElementById("totalbar2").style.width = "1119px";
      document.getElementById("Live-Usage").style.left = "320px";
      document.getElementById("historicalblock").style.left = "320px";
      document.getElementById("totalbar").style.left = "340px";
      document.getElementById("totalbar2").style.left = "340px";
    }
    }
}

    function retract() {
    if(document.getElementById("rightside").style.width != "40px"){
  document.getElementById("rightside").style.width = "40px";
  document.getElementById("rightarrow").style.transform = "rotate(1turn)";

  if(document.getElementById("leftretract").style.width != "80px"){
      document.getElementById("Live-Usage").style.width = "1150px";
      document.getElementById("historicalblock").style.width = "1150px";
      document.getElementById("header").style.width = "1150px";
      document.getElementById("scrollable").style.width = "1150px";
      document.getElementById("totalbar").style.width = "1119px";
      document.getElementById("totalbar2").style.width = "1119px";
    }
  else if(document.getElementById("leftretract").style.width == "80px"){
      document.getElementById("Live-Usage").style.width = "1300px";
      document.getElementById("historicalblock").style.width = "1300px";
      document.getElementById("header").style.width = "1300px";
      document.getElementById("scrollable").style.width = "1300px";
      document.getElementById("totalbar").style.width = "1248px";
      document.getElementById("totalbar2").style.width = "1248px";
      document.getElementById("Live-Usage").style.left = "152px";;
      document.getElementById("totalbar").style.left = "172px";
      document.getElementById("totalbar2").style.left = "172px";
  }
}
else{
      document.getElementById("rightside").style.width = "400px";
      document.getElementById("rightarrow").style.transform = "rotate(0.5turn)";
      if(document.getElementById("leftretract").style.width != "80px"){
          document.getElementById("Live-Usage").style.width = "744px";
          document.getElementById("historicalblock").style.width = "744px";
          document.getElementById("header").style.width = "744px";
          document.getElementById("scrollable").style.width = "744px";
          document.getElementById("totalbar").style.width = "714.24px";
          document.getElementById("totalbar2").style.width = "714.24px";
      }
  else if(document.getElementById("leftretract").style.width == "80px"){
          document.getElementById("Live-Usage").style.width = "912px";
          document.getElementById("historicalblock").style.width = "912px";
          document.getElementById("header").style.width = "912px";
          document.getElementById("scrollable").style.width = "912px";
          document.getElementById("totalbar").style.width = "882.24px";
          document.getElementById("totalbar2").style.width = "882.24px";
          document.getElementById("Live-Usage").style.left = "152px";
          document.getElementById("historicalblock").style.left = "152px";
          document.getElementById("totalbar").style.left = "172px";
          document.getElementById("totalbar2").style.left = "172px";
  }
}
}

function retracthistorical(){
    if(document.getElementById("historicalblock").style.height != "40px"){
    document.getElementById("historicalblock").style.height = "40px";
    document.getElementById("historicalarrow").style.transform = "rotate(0.25turn)";
    document.getElementById("historicalarrow").style.left = "8px";
    document.getElementById("Live-Usage").style.height = "722px";
    document.getElementById("scrollable").style.height = "566px";
    document.getElementById("Live-Usage").style.top = "60px";
}
    else{
        document.getElementById("historicalblock").style.height = "100px";
        document.getElementById("historicalarrow").style.transform = "rotate(0.75turn)";
        document.getElementById("historicalarrow").style.left = "7px";
        document.getElementById("Live-Usage").style.height = "662px";
        document.getElementById("scrollable").style.height = "506px";
        document.getElementById("Live-Usage").style.top = "120px";
    }
}
      function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();


      function openCity2(evt, cityName) {
  // Declare all variables
  var i, tabcontentss, tablinksss;

  // Get all elements with class="tabcontent" and hide them
  tabcontentss = document.getElementsByClassName("tabcontentss");
  for (i = 0; i < tabcontentss.length; i++) {
    tabcontentss[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinksss = document.getElementsByClassName("tablinksss");
  for (i = 0; i < tablinksss.length; i++) {
    tablinksss[i].className = tablinksss[i].className.replace(" activess", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " activess";
}


var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
  </script>
  <script>
    var newtotal = 0;
    var newtotalprice = 0;
    var newpercent = 0;
    var colors = ['{{colours[0]}}','{{colours[1]}}','{{colours[2]}}','{{colours[3]}}','{{colours[4]}}','{{colours[5]}}'];
    var colors2 = ['{{colours[0]}}','{{colours[1]}}','{{colours[2]}}','{{colours[3]}}','{{colours[4]}}','{{colours[5]}}'];

function toggleMaster(category){
    if(category == 'Lighting'){
        toggleLighting();
    }
    if(category == 'Plug Load'){
        togglePlugLoad();
    }
    if(category == 'HVAC'){
        toggleHVAC();
    }
    if(category == 'Equipment'){
        toggleEquipment();
    }
    if(category == 'Hot Water'){
        toggleHotWater();
    }
    if(category == 'Other'){
        toggleOther();
    }
}


    function toggleLighting() {
  var x = document.getElementsByClassName("lighting");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
}
  if (x[0].style.display === "none") {
    newtotal = (newtotal - {{lighttotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - {{lightprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - {{lightpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    removeLighting();
    chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{lighttotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{lightprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - -Math.abs({{lightpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    addLighting();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleEquipment() {
  var x = document.getElementsByClassName("equipment");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
    if (x[0].style.display === "none") {
    newtotal = (newtotal - {{equipmenttotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - {{equipmentprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - {{equipmentpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    removeEquipment();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{equipmenttotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{equipmentprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - -Math.abs({{equipmentpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    addEquipment();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleHVAC() {
  var x = document.getElementsByClassName("hvac");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{hvactotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - {{hvacprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - {{hvacpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    removeHVAC();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{hvactotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{hvacprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - -Math.abs({{hvacpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    addHVAC();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function togglePlugLoad() {
  var x = document.getElementsByClassName("plugload");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{plugtotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - {{plugprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - {{plugpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    removePlug();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{plugtotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{plugprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - -Math.abs({{plugpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    addPlug();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleHotWater() {
  var x = document.getElementsByClassName("hotwater");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{watertotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - {{waterprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - {{waterpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    removeWater();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{watertotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{waterprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - -Math.abs({{waterpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    addWater();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleOther() {
  var x = document.getElementsByClassName("other");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{othertotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - {{otherprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - {{otherpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    removeOther();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{othertotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{otherprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - -Math.abs({{otherpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    addOther();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})

  }
}

function togglePanel(panelname, num) {
  var x = document.getElementsByClassName(panelname);
  var paneltotal = {{paneltotal | tojson}};
  var panelpercent = {{panelpercent | tojson}};
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
}
  if (x[0].style.display === "none") {
    newtotal = (newtotal - -Math.abs(paneltotal[num]));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - {{lightprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - -Math.abs(panelpercent[num]));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    colors2[num] = colors[num];
    chart1.updateOptions({
  colors: [colors2[0],colors2[1],colors2[2],colors2[3],colors2[4],colors2[5]]
})
  } else {
    newtotal = (newtotal - Math.abs(paneltotal[num]));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toFixed(2) + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{lightprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toFixed(2) + '/hr';
    newpercent = (newpercent - Math.abs(panelpercent[num]));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toFixed(2) + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toFixed(2) + "<span style = 'font-size: 12px;'>%</span>";
    colors2[num] = '#FFFFFF';
        chart1.updateOptions({
  colors: [colors2[0],colors2[1],colors2[2],colors2[3],colors2[4],colors2[5]]
})
  }
}

function getTotal() {
  newtotal = {{"%.2f"|format(total)|float}};
  document.getElementById("total").innerHTML = newtotal + 'w';
  newtotalprice = {{"%.2f"|format(totalprice)|float}}
  document.getElementById("totalprice").innerHTML = '$' + newtotalprice + '/hr';
  newpercent = 100;
  document.getElementById("percentage").innerHTML = newpercent + '%';
  document.getElementById("percent2").innerHTML = newpercent + '%';
  document.getElementById("percent3").innerHTML = newpercent + "<span style = 'font-size: 12px;'>%</span>";
  document.getElementById("percent4").innerHTML = newpercent + "<span style = 'font-size: 12px;'>%</span>";
}
function resetVariables(){
  newtotal = 0;
  newtotalprice = 0;
  newpercent = 0;
}
  </script>
  <script>
    function removeLighting() {
        colors[0] = '#FFFFFF'
      }
      function removeEquipment() {
        colors[1] = '#FFFFFF'
      }
      function removeHVAC() {
        colors[2] = '#FFFFFF'
      }
      function removePlug() {
        colors[3] = '#FFFFFF'
      }
      function removeWater() {
        colors[4] = '#FFFFFF'
      }
      function removeOther() {
        colors[5] = '#FFFFFF'
      }
  </script>
    <script>
    function addLighting() {
        colors[0] = '#3649A8'
      }
      function addEquipment() {
        colors[1] = '#3BCDEE'
      }
      function addHVAC() {
        colors[2] = '#EE5937'
      }
      function addPlug() {
        colors[3] = '#EE8F37'
      }
      function addWater() {
        colors[4] = '#90C449'
      }
      function addOther() {
        colors[5] = '#DBE2F3'
      }
  </script>
  <script>
    function changeToKWH(){
    document.getElementById('KWH').style.display = 'block';
    document.getElementById('$').style.display = 'none';
    document.getElementById("chartLight").innerHTML = {{lighttotal}}.toFixed(2) + 'w';
    document.getElementById("chartWater").innerHTML = {{watertotal}}.toFixed(2) + 'w';
    document.getElementById("chartOther").innerHTML = {{othertotal}}.toFixed(2) + 'w';
    document.getElementById("chartPlug").innerHTML = {{plugtotal}}.toFixed(2) + 'w';
    document.getElementById("chartEquipment").innerHTML = {{equipmenttotal}}.toFixed(2) + 'w';
    document.getElementById("chartHVAC").innerHTML = {{hvactotal}}.toFixed(2) + 'w';
    }
    function changeTo$(){
    document.getElementById('KWH').style.display = 'none';
    document.getElementById('$').style.display = 'block';
    document.getElementById("chartLight").innerHTML = '$' + {{lightprice}}.toFixed(2) + '/hr';
    document.getElementById("chartWater").innerHTML = '$' + {{waterprice}}.toFixed(2) + '/hr';
    document.getElementById("chartOther").innerHTML = '$' + {{otherprice}}.toFixed(2) + '/hr';
    document.getElementById("chartPlug").innerHTML = '$' + {{plugprice}}.toFixed(2) + '/hr';
    document.getElementById("chartEquipment").innerHTML = '$' + {{equipmentprice}}.toFixed(2) + '/hr';
    document.getElementById("chartHVAC").innerHTML = '$' + {{hvacprice}}.toFixed(2) + '/hr';
    }
  </script>
  <script>
    function checkIf0(){
        if(colors[0] == '#FFFFFF' && colors[1] == '#FFFFFF' && colors[2] == '#FFFFFF' && colors[3] == '#FFFFFF' && colors[4] == '#FFFFFF' && colors[5] == '#FFFFFF'){
              document.getElementById("total").innerHTML = 0 + 'w';
              document.getElementById("totalprice").innerHTML = '$' + 0 + '/hr';
              document.getElementById("percentage").innerHTML = 0 + '%';
              document.getElementById("percent2").innerHTML = 0 + '%';
              document.getElementById("percent3").innerHTML = 0 + "<span style = 'font-size: 12px;'>%</span>";
              document.getElementById("percent4").innerHTML = 0 + "<span style = 'font-size: 12px;'>%</span>";
                    }
    }
  </script>
  <script>
    function populatePanel(){
    var x = {{numpanels}}
    var i;
      for (i = 1; i < x.length; i++) {
        var arr = chart1.w.global.series.slice()
        arr.push({{paneltotal[i]}})
        chart1.updateSeries(arr)
      }
  }
  </script>

</html>
