<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1360, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='https://animaproject.s3.amazonaws.com/home/favicon.png')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/overview-main.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/globals.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" type="text/javascript"></script>
  </head>
  <body style="margin: 0; background: #ffffff" onload="resetVariables(); getTotal(); changeTo$()">
    <input type="hidden" id="anPageName" name="page" value="overview-main" />
    <div class="container-center-horizontal">
      <div class="overview-main screen">
        <div class="rectangle-2893-l6cqYc"></div>
        <div class="header-l6cqYc"><img class="pollen-2-7QcJ16" src="{{url_for('static',filename='img/pollen-2@2x.png')}}" /></div>
        <div class="welcome-john-l6cqYc avertacy-bold-sapphire-20px">Welcome John,</div>
        <div class="overview-l6cqYc avertacy-bold-sapphire-20px">Live Usage</div>
        <div class="kpis-l6cqYc avertacy-bold-sapphire-13px">KPI’S</div>
        <a href = "{{url_for('commercial.historicalusage')}}"><div class="historical-l6cqYc avertacy-bold-sapphire-13px">Historical</div></a>
        <div class="inventory-l6cqYc avertacy-bold-sapphire-13px">Inventory</div>
        <div class="utilities-l6cqYc avertacy-bold-sapphire-13px">Utilities</div>
        <a href = "{{url_for('accounts.logout')}}"><div class="logout-l6cqYc avertacy-bold-sapphire-13px">Logout</div></a>
        <div class="group-7235-l6cqYc">
          <img class="x3-c-path-x3-e-Hra7rU" src="{{url_for('static',filename='img/x3c-path-x3e@22x.svg')}}" />
          <div class="ellipse-437-Hra7rU"></div>
        </div>
        <img class="rectangle-2938-l6cqYc" src="{{url_for('static',filename='img/rectangle-2938@22x.svg')}}" />
        <img class="kaltire-256-2-l6cqYc" src="{{url_for('static',filename='img/kaltire--256-2@22x.png')}}" />
        <div class="store-087-l6cqYc">Store #087</div>
        <p class="x4720-yellowhead-on-ab-t5-l-3-cs-l6cqYc">4720 Yellowhead Trail NW,<br />Edmonton, AB T5L 3CS</p>
        <div class="group-7195-l6cqYc">
          <div class="rectangle-2316-33iHaU"></div>
          <div class="chevron-down-33iHaU"><img class="vector-LNtgXx" src="{{url_for('static',filename='img/vector@22x.svg')}}" /></div>
        </div>
        <img class="sidebar-l6cqYc" src="{{url_for('static',filename='img/sidebar@11x.svg')}}" />
        <div class="electrical-load-by-panel-l6cqYc avertacy-bold-sapphire-20px">Sort by:</div>
        <div class = 'tab'>
        <button class="category-l6cqYc avertacy-bold-sapphire-15px tablinks" id = "defaultOpen" onclick = "openCity(event, 'Category')">Category</button>
        <button class="panel-l6cqYc avertacy-bold-sapphire-15px tablinks" onclick = "openCity(event, 'Panel');">Panel</button>
        </div>
        <div id="Panel" class="tabcontent">
        <div class="energy-breakdown-l6cqYc">
          <div class="group-51-5iNAkV">
            <div class="group-43-9oEgQT">
              <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12"  style ="right: 30px;">
                        <div id="chart"></div>
                        </div>
                          <script>
                        </script>
                    </div>
            </div>
          </div>
        </div>
        <div class="x100-l6cqYc" id = 'percent3'></div>
        <div class="rectangle-2973-l6cqYc"></div>
        <div class="rectangle-2340-l6cqYc"></div>
        <div class="rectangle-2974-l6cqYc"></div>
        <div class="rectangle-2975-l6cqYc"></div>
        <div class="rectangle-2976-l6cqYc"></div>
        <div class="rectangle-2977-l6cqYc"></div>
        <div class="rectangle-15-l6cqYc"></div>
        <div class="electrical-panels-l6cqYc avertacy-bold-sapphire-15px">Electrical Panels</div>
        <div class="panel-a-l6cqYc avertacy-bold-sapphire-12px" onclick = "openNav('A');openCity(event, 'Specs')">Panel A</div>
        <div class="x43-l6cqYc avertacy-bold-sapphire-12px" id = "panelA"></div>
        <div class="x21-l6cqYc avertacy-bold-sapphire-12px" id = 'panelB'></div>
        <div class="x19-l6cqYc avertacy-bold-sapphire-12px" id = 'panelC'></div>
        <div class="x11-l6cqYc avertacy-bold-sapphire-12px" id = 'panelD'></div>
        <div class="x6-l6cqYc avertacy-bold-sapphire-12px" id = 'panelE'></div>
        <div class="panel-b-l6cqYc avertacy-bold-sapphire-12px" onclick = "openNav('B');openCity(event, 'Specs')">Panel B</div>
        <div class="panel-c-l6cqYc avertacy-bold-sapphire-12px" onclick = "openNav('C');openCity(event, 'Specs')" >Panel C</div>
        <div class="panel-d-l6cqYc avertacy-bold-sapphire-12px"onclick = "openNav('D');openCity(event, 'Specs')">Panel D</div>
        <div class="panel-e-l6cqYc avertacy-bold-sapphire-12px"onclick = "openNav('E');openCity(event, 'Specs')">Panel E</div>
        <div class="rectangle-3024-l6cqYc"></div>
        <div class="rectangle-3032-l6cqYc"></div>
        <div class="rectangle-3033-l6cqYc"></div>
        <div class="rectangle-3034-l6cqYc"></div>
        <div class="rectangle-3035-l6cqYc"></div>

    </div>
            <div id = 'sidebar' class = 'sidebar'>
      <div class="frame-1 screen">
        <img class="sidebar-VxPVnb" src="{{url_for('static',filename='img/sidebar@12x.svg')}}" />
        <h1 class="title-VxPVnb">Panel <span id = "panelletter"></span></h1>
        <div class = "tab">
        <button class="circuits-VxPVnb avertacy-bold-sapphire-20px tablinks" onclick = "openCity(event, 'Circuits');currentSlide(0)">Circuits</button>
        <button id = 'specs' class="specs-VxPVnb tablinks" onclick = "openCity(event, 'Specs');currentSlide(1)">Specs</button></div>
        <div id="Specs" class="tabcontent">
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panel1image-1@12x.png')}}" /><div class="photo-1-VxPVnb">Photo - 1</div></div>
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panel1image-2@12x.png')}}" /><div class="photo-1-VxPVnb">Photo - 2</div></div>
        <div class="group-7236-VxPVnb" onclick = "plusSlides(-1)">
          <div class="rectangle-2316-WT5zFx"></div>
          <div class="chevron-down-WT5zFx"><img class="vector-QZDvpC" src="{{url_for('static',filename='img/vector@222x.svg')}}" /></div>
        </div>
        <div class="group-7237-VxPVnb" onclick = "plusSlides(1)">
          <div class="rectangle-2316-ixtSxg"></div>
          <div class="chevron-down-ixtSxg"><img class="vector-KEByjY" src="{{url_for('static',filename='img/vector-1@222x.svg')}}" /></div>
        </div>
        <div class="group-VxPVnb" onclick = "closeNav();openCity(event, 'Panel')"><img class="vector-JRdMbc" src="{{url_for('static',filename='img/vector-2@222x.svg')}}" /></div>
        <div class="rectangle-3377-VxPVnb"></div>
        <div class="rectangle-3378-VxPVnb"></div>
        <div class="rectangle-3379-VxPVnb"></div>
        <div class="rectangle-3380-VxPVnb"></div>
        <div class="rectangle-3381-VxPVnb"></div>
        <div class="rectangle-3382-VxPVnb"></div>
        <div class="voltage-VxPVnb avertacy-bold-sapphire-8px">Voltage</div>
        <div class="phase-VxPVnb avertacy-bold-sapphire-8px">Phase</div>
        <div class="type-VxPVnb avertacy-bold-sapphire-8px">Type</div>
        <div class="location-VxPVnb avertacy-bold-sapphire-8px">Location</div>
        <div class="ciruits-VxPVnb avertacy-bold-sapphire-8px">Ciruits</div>
        <div class="x120208-v-VxPVnb avertacy-bold-sapphire-20px">120/208V</div>
        <div class="x3-phase-VxPVnb avertacy-bold-sapphire-20px">3-Phase</div>
        <div class="type-q-VxPVnb avertacy-bold-sapphire-20px">Type-Q</div>
        <div class="shop-VxPVnb avertacy-bold-sapphire-20px">Shop</div>
        <div class="x52-VxPVnb avertacy-bold-sapphire-20px">{{channellength}}</div>
    </div>
<div id="Circuits" class="tabcontent">
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panel1image-1@12x.png')}}" /><div class="photo-1-VxPVnb">Photo - 1</div></div>
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panel1image-2@12x.png')}}" /><div class="photo-1-VxPVnb">Photo - 2</div></div>
        <div class="group-7236-VxPVnb" onclick = "plusSlides(-1)">
          <div class="rectangle-2316-WT5zFx"></div>
          <div class="chevron-down-WT5zFx"><img class="vector-QZDvpC" src="{{url_for('static',filename='img/vector@222x.svg')}}" /></div>
        </div>
        <div class="group-7237-VxPVnb" onclick = "plusSlides(1)">
          <div class="rectangle-2316-ixtSxg"></div>
          <div class="chevron-down-ixtSxg"><img class="vector-KEByjY" src="{{url_for('static',filename='img/vector-1@222x.svg')}}" /></div>
        </div>
        <div class="group-VxPVnb" onclick = "closeNav();openCity(event, 'Panel')"><img class="vector-JRdMbc" src="{{url_for('static',filename='img/vector-2@222x.svg')}}" /></div>
        <div class="frame-1 screen">
        <div class="rectangle-3000-VxPVnb">
        <div class="rectangle-3001-VxPVnb"></div>
        {% for i in range(5, channellength) %}
        <div class="rectangle-3002-VxPVnb">
        <div class="x1-shop-lighting-1-VxPVnb avertacy-bold-sapphire-12px">{{channel_name[i]}}</div>
        </div>
        {% endfor %}

    </div>
      </div>
    </div>
      </div>

    </div>
        <div id="Category" class="tabcontent">
        <div class="energy-breakdown-l6cqYc">
          <div class="group-51-5iNAkV">
            <div class="group-43-9oEgQT">
              <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12" style ="right: 30px;">
                        <div id="chart2"></div>
                        </div>
                          <script>

                        </script>
                    </div>
            </div>
          </div>
        </div>
        <div class="x100-l6cqYc"id = 'percent4'></div>
        <div class="rectangle-2973-l6cqYc" style = "height: 270px;"></div>
        <div class="rectangle-2340-l6cqYc"><div class="x43-l6cqYc avertacy-bold-sapphire-12px" id = 'chartLight'></div></div>
        <div class="rectangle-2974-l6cqYc"><div class="x21-l6cqYc avertacy-bold-sapphire-12px"  id = 'chartEquipment'></div></div>
        <div class="rectangle-2975-l6cqYc"><div class="x19-l6cqYc avertacy-bold-sapphire-12px" id = 'chartHVAC'></div></div>
        <div class="rectangle-2976-l6cqYc"><div class="x11-l6cqYc avertacy-bold-sapphire-12px" id = 'chartPlug'></div></div>
        <div class="rectangle-2977-l6cqYc"><div class="x6-l6cqYc avertacy-bold-sapphire-12px" id = 'chartWater'></div></div>
        <div class="rectangle-2978-l6cqYc"><div class="x12-l6cqYc avertacy-bold-sapphire-12px" id = 'chartOther'></div></div>
        <div class="rectangle-15-l6cqYc"></div>

        <div class="electrical-panels-l6cqYc avertacy-bold-sapphire-15px">Categories</div>
        <div class="panel-a-l6cqYc avertacy-bold-sapphire-12px">Lighting</div>
        <div class="panel-b-l6cqYc avertacy-bold-sapphire-12px">Equipment</div>
        <div class="panel-c-l6cqYc avertacy-bold-sapphire-12px">HVAC</div>
        <div class="panel-d-l6cqYc avertacy-bold-sapphire-12px">Plug Load</div>
        <div class="panel-e-l6cqYc avertacy-bold-sapphire-12px">Hot Water</div>
        <div class="panel-f-l6cqYc avertacy-bold-sapphire-12px">Other</div>
        <input type= 'checkbox'class="rectangle-3024-l6cqYc" id= 'panel1check' onclick= "toggleLighting(); checkIf0();" checked/><label for = 'panel1check'></label>
        <input type= 'checkbox' class="rectangle-3032-l6cqYc"id= 'panel2check' onclick= "toggleEquipment(); checkIf0();" checked/><label for = 'panel2check'></label>
        <input type= 'checkbox' class="rectangle-3033-l6cqYc"id= 'panel1check' onclick= "toggleHVAC(); checkIf0();" checked/><label for = 'panel2check'></label>
        <input type= 'checkbox' class="rectangle-3034-l6cqYc"id= 'panel1check' onclick= "togglePlugLoad(); checkIf0();" checked/><label for = 'panel2check'></label>
        <input type= 'checkbox' class="rectangle-3035-l6cqYc"id= 'panel1check' onclick= "toggleHotWater(); checkIf0(); " checked/><label for = 'panel1check'></label>
        <input type= 'checkbox' class="rectangle-30352-l6cqYc"id= 'panel1check' onclick= "toggleOther(); checkIf0();" checked/><label for = 'panel1check'></label>
    </div>
        <div class="your-viewing-l6cqYc">Your Viewing</div>
        <div class = "scrollable">
        <div class="rectangle-3163-l6cqYc">
        <div class = 'header'>
        <h1 class="title-l6cqYc">Live Usage:</h1>
        <div class="whats-running-l6cqYc">What’s Running ?</div>
        <div class = "tabss">
        <button class="k-wh-l6cqYc tablinksss" onclick = "openCity2(event, 'KWH'); changeToKWH();">Watts</button>
        <button class="x-l6cqYc tablinksss" onclick = "openCity2(event, '$'); changeTo$();" id = "defaultOpenss">$</button>
        </div>
    </div>
        <div id="KWH" class="tabcontentss">
        <div class="rectangle-3164-l6cqYc"></div>
        {% set channelnum = namespace(value=0) %}
        {% for i in range(0, len) %}
        <div class="rectangle-3165-l6cqYc {{home_upgrades.iloc[i][4]}}">
        <div class="lunchroom-lights-l6cqYc avertacy-bold-apple-11px" {% if home_upgrades.iloc[i][2] == 0 %} style = 'color: grey;'{% endif %}>{{home_upgrades.iloc[i][0]}}</div>
        <div class="x233hr-l6cqYc"{% if home_upgrades.iloc[i][2] == 0 %} style = ' color: grey;'{% endif %}>{{"%.2f"|format(home_upgrades.iloc[i][2]|float)}}w</div>
        <div class="rectangle-3184-l6cqYc" {% if home_upgrades.iloc[i][2] == 0 %} style = 'width: 2px; background-color: grey;'{% elif home_upgrades.iloc[i][2] > 0  %} style = 'width: {{250 * (home_upgrades.iloc[i][2]/total) + 5}}px;'{% endif %}>
        <div class="x21-Al4pJ9" {% if home_upgrades.iloc[i][2] == 0 %} style = 'left: {{250 * (home_upgrades.iloc[i][2]/total) + 5}}px; background-color: grey; color: grey;'{% elif home_upgrades.iloc[i][2] > 0  %} style = 'left: {{250 * (home_upgrades.iloc[i][2]/total) + 5}}px;'{% endif %}>{{"%.2f"|format(((home_upgrades.iloc[i][2]/ total) * 100)|float)}}%</div>
        </div>
        </div>
        {% set channelnum.value = channelnum.value + 1 %}
        {% endfor %}

        <div class = "total-rectangle">
        <div class="rectangle-3203-l6cqYc">
        <div class="total-l6cqYc">Total</div>
        <div class="rectangle-3204-l6cqYc"></div>
        <div class="x100-Al4pJ9"id = 'percentage'></div>
        <div class="x674hr-l6cqYc" id = 'total'></div></div></div>

    </div>
        <div id="$" class="tabcontentss">
        <div class="rectangle-3164-l6cqYc"></div>
        {% set channelnum = namespace(value=0) %}
        {% for i in range(0, pricelength) %}
        <div class="rectangle-3165-l6cqYc {{home_upgrades.iloc[i][4]}}">
        <div class="lunchroom-lights-l6cqYc avertacy-bold-apple-11px"{% if (price.iloc[i][2]) == 0 %} style = 'color: grey;'{% endif %}>{{price.iloc[i][0]}}</div>
        <div class="x233hr-l6cqYc" {% if price.iloc[i][2] == 0 %} style = 'color: grey;'{% endif %}>{{"$%.2f"|format((price.iloc[i][2])|float)}}/hr</div>
        <div class="rectangle-3184-l6cqYc" {% if price.iloc[i][2] == 0 %} style = 'width: 2px; background-color: grey;'{% elif price.iloc[i][2]> 0  %} style = 'width: {{250 * (price.iloc[i][2]/totalprice) + 5}}px;'{% endif %}>
        <div class="x21-Al4pJ9" {% if price.iloc[i][2] == 0 %} style = 'left: {{250 * (price.iloc[i][2]/totalprice) + 5}}px; background-color: grey; color: grey;'{% elif price.iloc[i][2] > 0  %} style = 'left: {{250 * (price.iloc[i][2]/totalprice) + 5}}px;'{% endif %}>{{"%.2f"|format(((price.iloc[i][2]/ totalprice) * 100)|float)}}%</div></div></div>
        {% set channelnum.value = channelnum.value + 1 %}
        {% endfor %}

        <div class = "total-rectangle">
        <div class="rectangle-3203-l6cqYc">
        <div class="total-l6cqYc">Total</div>
        <div class="rectangle-3204-l6cqYc"></div>
        <div class="x100-Al4pJ9"id = 'percent2'></div>
        <div class="x674hr-l6cqYc" id = 'totalprice'></div></div>
    </div></div>
        </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var options = {
                              labels: ["Lighting", "Electrical", "DHW", "Mechanical"],
                              series: [100,0,0,0 ],
                              chart: {
                              width: 200,
                              type: 'donut',
                            },
                            dataLabels: {
                              enabled: true
                            },
                            tooltip:{
                                enabled: false
                            },
                            legend: {
                                position: 'bottom',
                                show:false
                            },

                            colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#DBE2F3'],

                            responsive: [{
                              breakpoint: 480,
                              options: {
                                chart: {
                                  width: 300
                                },
                              }
                            }]
                            };
                            var chart1 = new ApexCharts(document.querySelector("#chart"), options);
                            chart1.render();
                            var options = {
                              labels: ["Lighting", "Equipment", "HVAC", "Plug Load", "Hot Water", "Other"],
                              series: [{{lighttotal}},{{equipmenttotal}},{{hvactotal}},{{plugtotal}},{{watertotal}},{{othertotal}}],
                              chart: {
                              width: 200,
                              type: 'donut',
                            },
                            dataLabels: {
                              enabled: false
                            },
                            tooltip:{
                                enabled: false
                            },
                            legend: {
                                position: 'bottom',
                                show:false
                            },

                            colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#90C449','#DBE2F3'],

                            responsive: [{
                              breakpoint: 480,
                              options: {
                                chart: {
                                  width: 300
                                },
                              }
                            }]
                            };
                            var chart2 = new ApexCharts(document.querySelector("#chart2"), options);
                            chart2.render();

  </script>
  <script>
    function openNav(panel) {
  document.getElementById("sidebar").style.width = "600px";
  document.getElementById("panelletter").innerHTML = panel;
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {  document.getElementById("sidebar").style.width = "0";}

      function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();


      function openCity2(evt, cityName) {
  // Declare all variables
  var i, tabcontentss, tablinksss;

  // Get all elements with class="tabcontent" and hide them
  tabcontentss = document.getElementsByClassName("tabcontentss");
  for (i = 0; i < tabcontentss.length; i++) {
    tabcontentss[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinksss = document.getElementsByClassName("tablinksss");
  for (i = 0; i < tablinksss.length; i++) {
    tablinksss[i].className = tablinksss[i].className.replace(" activess", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " activess";
}
document.getElementById("defaultOpenss").click();


var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
  </script>
  <script>
    var newtotal = 0;
    var newtotalprice = 0;
    var newpercent = 0;
    var colors = ['{{colours[0]}}','{{colours[1]}}','{{colours[2]}}','{{colours[3]}}','{{colours[4]}}','{{colours[5]}}'];
    function toggleLighting() {
  var x = document.getElementsByClassName("lighting");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
}
  if (x[0].style.display === "none") {
    newtotal = (newtotal - {{lighttotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - {{lightprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - {{lightpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeLighting();
    chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{lighttotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{lightprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - -Math.abs({{lightpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addLighting();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleEquipment() {
  var x = document.getElementsByClassName("equipment");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
    if (x[0].style.display === "none") {
    newtotal = (newtotal - {{equipmenttotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - {{equipmentprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - {{equipmentpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeEquipment();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{equipmenttotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{equipmentprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - -Math.abs({{equipmentpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addEquipment();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleHVAC() {
  var x = document.getElementsByClassName("hvac");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{hvactotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - {{hvacprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - {{hvacpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeHVAC();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{hvactotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{hvacprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - -Math.abs({{hvacpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addHVAC();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function togglePlugLoad() {
  var x = document.getElementsByClassName("plugload");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{plugtotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - {{plugprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - {{plugpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removePlug();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{plugtotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{plugprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - -Math.abs({{plugpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addPlug();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleHotWater() {
  var x = document.getElementsByClassName("hotwater");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{watertotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - {{waterprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - {{waterpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeWater();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{watertotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{waterprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - -Math.abs({{waterpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addWater();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleOther() {
  var x = document.getElementsByClassName("other");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{othertotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - {{otherprice}});
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - {{otherpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeOther();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{othertotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + 'w';
    newtotalprice = (newtotalprice - -Math.abs({{otherprice}}));
    document.getElementById("totalprice").innerHTML = '$' + Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '/hr';
    newpercent = (newpercent - -Math.abs({{otherpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent2").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%';
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addOther();
        chart2.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})

  }
}

function getTotal() {
  newtotal = {{"%.2f"|format(total)|float}};
  document.getElementById("total").innerHTML = newtotal + 'w';
  newtotalprice = {{"%.2f"|format(totalprice)|float}}
  document.getElementById("totalprice").innerHTML = '$' + newtotalprice + '/hr';
  newpercent = 100;
  document.getElementById("percentage").innerHTML = newpercent + '%';
  document.getElementById("percent2").innerHTML = newpercent + '%';
  document.getElementById("percent3").innerHTML = newpercent + "<span style = 'font-size: 12px;'>%'</span>";
  document.getElementById("percent4").innerHTML = newpercent + "<span style = 'font-size: 12px;'>%</span>";
}
function resetVariables(){
  newtotal = 0;
  newtotalprice = 0;
  newpercent = 0;
}
  </script>
  <script>
    function removeLighting() {
        colors[0] = '#FFFFFF'
      }
      function removeEquipment() {
        colors[1] = '#FFFFFF'
      }
      function removeHVAC() {
        colors[2] = '#FFFFFF'
      }
      function removePlug() {
        colors[3] = '#FFFFFF'
      }
      function removeWater() {
        colors[4] = '#FFFFFF'
      }
      function removeOther() {
        colors[5] = '#FFFFFF'
      }
  </script>
    <script>
    function addLighting() {
        colors[0] = '#3649A8'
      }
      function addEquipment() {
        colors[1] = '#3BCDEE'
      }
      function addHVAC() {
        colors[2] = '#EE5937'
      }
      function addPlug() {
        colors[3] = '#EE8F37'
      }
      function addWater() {
        colors[4] = '#90C449'
      }
      function addOther() {
        colors[5] = '#DBE2F3'
      }
  </script>
  <script>
    function changeToKWH(){
    document.getElementById("chartLight").innerHTML = {{"%.2f"|format(lighttotal)|float}} + 'w';
    document.getElementById("chartWater").innerHTML = {{"%.2f"|format(watertotal)|float}} + 'w';
    document.getElementById("chartOther").innerHTML = {{"%.2f"|format(othertotal)|float}} + 'w';
    document.getElementById("chartPlug").innerHTML = {{"%.2f"|format(plugtotal)|float}} + 'w';
    document.getElementById("chartEquipment").innerHTML = {{"%.2f"|format(equipmenttotal)|float}} + 'w';
    document.getElementById("chartHVAC").innerHTML = {{"%.2f"|format(hvactotal)|float}} + 'w';
    }
    function changeTo$(){
    document.getElementById("chartLight").innerHTML = '$' + {{"%.2f"|format(lightprice)|float}};
    document.getElementById("chartWater").innerHTML = '$' + {{"%.2f"|format(waterprice)|float}};
    document.getElementById("chartOther").innerHTML = '$' + {{"%.2f"|format(otherprice)|float}};
    document.getElementById("chartPlug").innerHTML = '$' + {{"%.2f"|format(plugprice)|float}};
    document.getElementById("chartEquipment").innerHTML = '$' + {{"%.2f"|format(equipmentprice)|float}};
    document.getElementById("chartHVAC").innerHTML = '$' + {{"%.2f"|format(hvacprice)|float}};
    }
  </script>
  <script>
    function checkIf0(){
        if(colors[0] == '#FFFFFF' && colors[1] == '#FFFFFF' && colors[2] == '#FFFFFF' && colors[3] == '#FFFFFF' && colors[4] == '#FFFFFF' && colors[5] == '#FFFFFF'){
              document.getElementById("total").innerHTML = 0 + 'w';
              document.getElementById("totalprice").innerHTML = '$' + 0 + '/hr';
              document.getElementById("percentage").innerHTML = 0 + '%';
              document.getElementById("percent2").innerHTML = 0 + '%';
              document.getElementById("percent3").innerHTML = 0 + "<span style = 'font-size: 12px;'>%</span>";
              document.getElementById("percent4").innerHTML = 0 + "<span style = 'font-size: 12px;'>%</span>";
                    }
    }
  </script>
</html>
