<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1360, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='https://animaproject.s3.amazonaws.com/home/favicon.png')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/overview-main.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/globals.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" type="text/javascript"></script>
  </head>
  <body style="margin: 0; background: #ffffff" onload="random()">
    <input type="hidden" id="anPageName" name="page" value="overview-main" />
    <div class="container-center-horizontal">
      <div class="overview-main screen">
        <div class="rectangle-2893-l6cqYc"></div>
        <div class="header-l6cqYc"><img class="pollen-2-7QcJ16" src="{{url_for('static',filename='img/pollen-2@2x.png')}}" /></div>
        <div class="welcome-john-l6cqYc avertacy-bold-sapphire-20px">Welcome John,</div>
        <div class="overview-l6cqYc avertacy-bold-sapphire-20px">Live Usage</div>
        <div class="kpis-l6cqYc avertacy-bold-sapphire-13px">KPI’S</div>
        <a href = "{{url_for('commercial.historicalusage')}}"><div class="historical-l6cqYc avertacy-bold-sapphire-13px">Historical</div></a>
        <div class="inventory-l6cqYc avertacy-bold-sapphire-13px">Inventory</div>
        <div class="utilities-l6cqYc avertacy-bold-sapphire-13px">Utilities</div>
        <a href = "{{url_for('accounts.logout')}}"><div class="logout-l6cqYc avertacy-bold-sapphire-13px">Logout</div></a>
        <div class="group-7235-l6cqYc">
          <img class="x3-c-path-x3-e-Hra7rU" src="{{url_for('static',filename='img/x3c-path-x3e@22x.svg')}}" />
          <div class="ellipse-437-Hra7rU"></div>
        </div>
        <img class="rectangle-2938-l6cqYc" src="{{url_for('static',filename='img/rectangle-2938@22x.svg')}}" />
        <img class="kaltire-256-2-l6cqYc" src="{{url_for('static',filename='img/kaltire--256-2@22x.png')}}" />
        <div class="store-087-l6cqYc">Store #087</div>
        <p class="x4720-yellowhead-on-ab-t5-l-3-cs-l6cqYc">4720 Yellowhead Trail NW,<br />Edmonton, AB T5L 3CS</p>
        <div class="group-7195-l6cqYc">
          <div class="rectangle-2316-33iHaU"></div>
          <div class="chevron-down-33iHaU"><img class="vector-LNtgXx" src="{{url_for('static',filename='img/vector@22x.svg')}}" /></div>
        </div>
        <img class="sidebar-l6cqYc" src="{{url_for('static',filename='img/sidebar@11x.svg')}}" />
        <div class="electrical-load-by-panel-l6cqYc avertacy-bold-sapphire-20px">Sort by:</div>
        <div class = 'tab'>
        <button class="category-l6cqYc avertacy-bold-sapphire-15px tablinks" onclick = "openCity(event, 'Category')">Category</button>
        <button class="panel-l6cqYc tablinks" onclick = "openCity(event, 'Panel');" id = "defaultOpen">Panel</button>
        </div>
        <div id="Panel" class="tabcontent">
        <div class="energy-breakdown-l6cqYc">
          <div class="group-51-5iNAkV">
            <div class="group-43-9oEgQT">
              <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12"  style ="right: 30px;">
                        <div id="chart"></div>
                        </div>
                          <script>
                        </script>
                    </div>
            </div>
          </div>
        </div>
        <div class="x100-l6cqYc">100%</div>
        <div class="rectangle-2973-l6cqYc"></div>
        <div class="rectangle-2340-l6cqYc"></div>
        <div class="rectangle-2974-l6cqYc"></div>
        <div class="rectangle-2975-l6cqYc"></div>
        <div class="rectangle-2976-l6cqYc"></div>
        <div class="rectangle-2977-l6cqYc"></div>
        <div class="rectangle-15-l6cqYc"></div>
        <div class="electrical-panels-l6cqYc avertacy-bold-sapphire-15px">Electrical Panels</div>
        <div class="panel-a-l6cqYc avertacy-bold-sapphire-12px" onclick = "openNav('A');openCity(event, 'Specs')">Panel A</div>
        <div class="x43-l6cqYc avertacy-bold-sapphire-12px" id = "panelA"></div>
        <div class="x21-l6cqYc avertacy-bold-sapphire-12px" id = 'panelB'></div>
        <div class="x19-l6cqYc avertacy-bold-sapphire-12px" id = 'panelC'></div>
        <div class="x11-l6cqYc avertacy-bold-sapphire-12px" id = 'panelD'></div>
        <div class="x6-l6cqYc avertacy-bold-sapphire-12px" id = 'panelE'></div>
        <div class="panel-b-l6cqYc avertacy-bold-sapphire-12px" onclick = "openNav('B');openCity(event, 'Specs')">Panel B</div>
        <div class="panel-c-l6cqYc avertacy-bold-sapphire-12px" onclick = "openNav('C');openCity(event, 'Specs')" >Panel C</div>
        <div class="panel-d-l6cqYc avertacy-bold-sapphire-12px"onclick = "openNav('D');openCity(event, 'Specs')">Panel D</div>
        <div class="panel-e-l6cqYc avertacy-bold-sapphire-12px"onclick = "openNav('E');openCity(event, 'Specs')">Panel E</div>
        <div class="rectangle-3024-l6cqYc"></div>
        <div class="rectangle-3032-l6cqYc"></div>
        <div class="rectangle-3033-l6cqYc"></div>
        <div class="rectangle-3034-l6cqYc"></div>
        <div class="rectangle-3035-l6cqYc"></div>

    </div>
            <div id = 'sidebar' class = 'sidebar'>
      <div class="frame-1 screen">
        <img class="sidebar-VxPVnb" src="{{url_for('static',filename='img/sidebar@12x.svg')}}" />
        <h1 class="title-VxPVnb">Panel <span id = "panelletter"></span></h1>
        <div class = "tab">
        <button class="circuits-VxPVnb avertacy-bold-sapphire-20px tablinks" onclick = "openCity(event, 'Circuits');currentSlide(0)">Circuits</button>
        <button id = 'specs' class="specs-VxPVnb tablinks" onclick = "openCity(event, 'Specs');currentSlide(1)">Specs</button></div>
        <div id="Specs" class="tabcontent">
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panel1image-1@12x.png')}}" /><div class="photo-1-VxPVnb">Photo - 1</div></div>
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panel1image-2@12x.png')}}" /><div class="photo-1-VxPVnb">Photo - 2</div></div>
        <div class="group-7236-VxPVnb" onclick = "plusSlides(-1)">
          <div class="rectangle-2316-WT5zFx"></div>
          <div class="chevron-down-WT5zFx"><img class="vector-QZDvpC" src="{{url_for('static',filename='img/vector@222x.svg')}}" /></div>
        </div>
        <div class="group-7237-VxPVnb" onclick = "plusSlides(1)">
          <div class="rectangle-2316-ixtSxg"></div>
          <div class="chevron-down-ixtSxg"><img class="vector-KEByjY" src="{{url_for('static',filename='img/vector-1@222x.svg')}}" /></div>
        </div>
        <div class="group-VxPVnb" onclick = "closeNav();openCity(event, 'Panel')"><img class="vector-JRdMbc" src="{{url_for('static',filename='img/vector-2@222x.svg')}}" /></div>
        <div class="rectangle-3377-VxPVnb"></div>
        <div class="rectangle-3378-VxPVnb"></div>
        <div class="rectangle-3379-VxPVnb"></div>
        <div class="rectangle-3380-VxPVnb"></div>
        <div class="rectangle-3381-VxPVnb"></div>
        <div class="rectangle-3382-VxPVnb"></div>
        <div class="voltage-VxPVnb avertacy-bold-sapphire-8px">Voltage</div>
        <div class="phase-VxPVnb avertacy-bold-sapphire-8px">Phase</div>
        <div class="type-VxPVnb avertacy-bold-sapphire-8px">Type</div>
        <div class="location-VxPVnb avertacy-bold-sapphire-8px">Location</div>
        <div class="ciruits-VxPVnb avertacy-bold-sapphire-8px">Ciruits</div>
        <div class="x120208-v-VxPVnb avertacy-bold-sapphire-20px">120/208V</div>
        <div class="x3-phase-VxPVnb avertacy-bold-sapphire-20px">3-Phase</div>
        <div class="type-q-VxPVnb avertacy-bold-sapphire-20px">Type-Q</div>
        <div class="shop-VxPVnb avertacy-bold-sapphire-20px">Shop</div>
        <div class="x52-VxPVnb avertacy-bold-sapphire-20px">{{channellength}}</div>
    </div>
<div id="Circuits" class="tabcontent">
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panel1image-1@12x.png')}}" /><div class="photo-1-VxPVnb">Photo - 1</div></div>
        <div class = 'mySlides'>
        <img class="panel1-image-1-VxPVnb" src="{{url_for('static',filename='img/panel1image-2@12x.png')}}" /><div class="photo-1-VxPVnb">Photo - 2</div></div>
        <div class="group-7236-VxPVnb" onclick = "plusSlides(-1)">
          <div class="rectangle-2316-WT5zFx"></div>
          <div class="chevron-down-WT5zFx"><img class="vector-QZDvpC" src="{{url_for('static',filename='img/vector@222x.svg')}}" /></div>
        </div>
        <div class="group-7237-VxPVnb" onclick = "plusSlides(1)">
          <div class="rectangle-2316-ixtSxg"></div>
          <div class="chevron-down-ixtSxg"><img class="vector-KEByjY" src="{{url_for('static',filename='img/vector-1@222x.svg')}}" /></div>
        </div>
        <div class="group-VxPVnb" onclick = "closeNav();openCity(event, 'Panel')"><img class="vector-JRdMbc" src="{{url_for('static',filename='img/vector-2@222x.svg')}}" /></div>
        <div class="frame-1 screen">
        <div class="rectangle-3000-VxPVnb">
        <div class="rectangle-3001-VxPVnb"></div>
        {% for i in range(5, channellength) %}
        <div class="rectangle-3002-VxPVnb">
        <div class="x1-shop-lighting-1-VxPVnb avertacy-bold-sapphire-12px">{{channel_name[i]}}</div>
        </div>
        {% endfor %}

    </div>
      </div>
    </div>
      </div>

    </div>
        <div id="Category" class="tabcontent">
        <div class="energy-breakdown-l6cqYc">
          <div class="group-51-5iNAkV">
            <div class="group-43-9oEgQT">
              <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12" style ="right: 30px;">
                        <div id="chart2"></div>
                        </div>
                          <script>

                        </script>
                    </div>
            </div>
          </div>
        </div>
        <div class="x100-l6cqYc">100%</div>
        <div class="rectangle-2973-l6cqYc" style = 'height: 209px;'></div>
        <div class="rectangle-2340-l6cqYc"></div>
        <div class="rectangle-2974-l6cqYc"></div>
        <div class="rectangle-2975-l6cqYc"></div>
        <div class="rectangle-2976-l6cqYc"></div>
        <div class="rectangle-15-l6cqYc"></div>
        <div class="electrical-panels-l6cqYc avertacy-bold-sapphire-15px">Categories</div>
        <div class="panel-a-l6cqYc avertacy-bold-sapphire-12px">Lighting</div>
        <div class="x43-l6cqYc avertacy-bold-sapphire-12px" id = 'lighting'></div>
        <div class="x21-l6cqYc avertacy-bold-sapphire-12px" id = 'electrical'></div>
        <div class="x19-l6cqYc avertacy-bold-sapphire-12px" id = 'dhw'></div>
        <div class="x11-l6cqYc avertacy-bold-sapphire-12px" id = 'mechanical'></div>
        <div class="panel-b-l6cqYc avertacy-bold-sapphire-12px">Electrical</div>
        <div class="panel-c-l6cqYc avertacy-bold-sapphire-12px">DHW</div>
        <div class="panel-d-l6cqYc avertacy-bold-sapphire-12px">Mechanical</div>
        <div class="rectangle-3024-l6cqYc"></div>
        <div class="rectangle-3032-l6cqYc"></div>
        <div class="rectangle-3033-l6cqYc"></div>
        <div class="rectangle-3034-l6cqYc"></div>
    </div>
        <div class="your-viewing-l6cqYc">Your Viewing</div>
        <div class = "scrollable">
        <div class="rectangle-3163-l6cqYc">
        <div class = 'header'>
        <h1 class="title-l6cqYc">Live Usage:</h1>
        <div class="whats-running-l6cqYc">What’s Running ?</div>
        <div class = "tabss">
        <button class="k-wh-l6cqYc tablinksss" onclick = "openCity2(event, 'KWH');">Watts</button>
        <button class="x-l6cqYc tablinksss" onclick = "openCity2(event, '$');" id = "defaultOpenss">$</button>
        </div>
    </div>
        <div id="KWH" class="tabcontentss">
        <div class="rectangle-3164-l6cqYc"></div>
        {% set channelnum = namespace(value=0) %}
        {% for i in range(0, len) %}
        <div class="rectangle-3165-l6cqYc">
        <div class="lunchroom-lights-l6cqYc avertacy-bold-apple-11px" {% if home_upgrades.iloc[i][2] == 0 %} style = 'color: grey;'{% endif %}>{{channel_name[channelnum.value]}}</div>
        <div class="x233hr-l6cqYc"{% if home_upgrades.iloc[i][2] == 0 %} style = ' color: grey;'{% endif %}>{{"%.2f"|format(home_upgrades.iloc[i][2]|float)}}w</div>
        <div class="rectangle-3184-l6cqYc" {% if home_upgrades.iloc[i][2] == 0 %} style = 'width: 2px; background-color: grey;'{% elif home_upgrades.iloc[i][2] > 0  %} style = 'width: {{250 * (home_upgrades.iloc[i][2]/total) + 5}}px;'{% endif %}>
        <div class="x21-Al4pJ9" {% if home_upgrades.iloc[i][2] == 0 %} style = 'left: {{250 * (home_upgrades.iloc[i][2]/total) + 5}}px; background-color: grey; color: grey;'{% elif home_upgrades.iloc[i][2] > 0  %} style = 'left: {{250 * (home_upgrades.iloc[i][2]/total) + 5}}px;'{% endif %}>{{"%.2f"|format(((home_upgrades.iloc[i][2]/ total) * 100)|float)}}%</div>
        </div>
        </div>
        {% set channelnum.value = channelnum.value + 1 %}
        {% endfor %}

        <div class = "total-rectangle">
        <div class="rectangle-3203-l6cqYc">
        <div class="total-l6cqYc">Total</div>
        <div class="rectangle-3204-l6cqYc"></div>
        <div class="x100-Al4pJ9">100%</div>
        <div class="x674hr-l6cqYc">{{"%.2f"|format(total|float)}}</div></div></div>

    </div>
        <div id="$" class="tabcontentss">
        <div class="rectangle-3164-l6cqYc"></div>
        {% set channelnum = namespace(value=0) %}
        {% for i in range(0, pricelength) %}
        <div class="rectangle-3165-l6cqYc">
        <div class="lunchroom-lights-l6cqYc avertacy-bold-apple-11px"{% if (price.iloc[i][2]) == 0 %} style = 'color: grey;'{% endif %}>{{channel_name[channelnum.value]}}</div>
        <div class="x233hr-l6cqYc" {% if price.iloc[i][2] == 0 %} style = 'color: grey;'{% endif %}>{{"$%.2f"|format((price.iloc[i][2])|float)}}/hr</div>
        <div class="rectangle-3184-l6cqYc" {% if price.iloc[i][2] == 0 %} style = 'width: 2px; background-color: grey;'{% elif price.iloc[i][2]> 0  %} style = 'width: {{250 * (price.iloc[i][2]/totalprice) + 5}}px;'{% endif %}>
        <div class="x21-Al4pJ9" {% if price.iloc[i][2] == 0 %} style = 'left: {{250 * (price.iloc[i][2]/totalprice) + 5}}px; background-color: grey; color: grey;'{% elif price.iloc[i][2] > 0  %} style = 'left: {{250 * (price.iloc[i][2]/totalprice) + 5}}px;'{% endif %}>{{"%.2f"|format(((price.iloc[i][2]/ totalprice) * 100)|float)}}%</div></div></div>
        {% set channelnum.value = channelnum.value + 1 %}
        {% endfor %}

        <div class = "total-rectangle">
        <div class="rectangle-3203-l6cqYc">
        <div class="total-l6cqYc">Total</div>
        <div class="rectangle-3204-l6cqYc"></div>
        <div class="x100-Al4pJ9">100%</div>
        <div class="x674hr-l6cqYc">{{"$%.2f"|format((totalprice)|float)}}/hr</div></div>
    </div></div>
        </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var options = {
                              labels: ["Lighting", "Electrical", "DHW", "Mechanical"],
                              series: [100,0,0,0 ],
                              chart: {
                              width: 200,
                              type: 'donut',
                            },
                            dataLabels: {
                              enabled: false
                            },
                            legend: {
                                position: 'bottom',
                                show:false
                            },

                            colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#DBE2F3'],

                            responsive: [{
                              breakpoint: 480,
                              options: {
                                chart: {
                                  width: 300
                                },
                              }
                            }]
                            };
                            var chart1 = new ApexCharts(document.querySelector("#chart"), options);
                            chart1.render();
                            var options = {
                              labels: ["Lighting", "Electrical", "DHW", "Mechanical"],
                              series: [0,100,0,0],
                              chart: {
                              width: 200,
                              type: 'donut',
                            },
                            dataLabels: {
                              enabled: false
                            },
                            legend: {
                                position: 'bottom',
                                show:false
                            },

                            colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#DBE2F3'],

                            responsive: [{
                              breakpoint: 480,
                              options: {
                                chart: {
                                  width: 300
                                },
                              }
                            }]
                            };
                            var chart2 = new ApexCharts(document.querySelector("#chart2"), options);
                            chart2.render();

  </script>
  <script>
    function openNav(panel) {
  document.getElementById("sidebar").style.width = "600px";
  document.getElementById("panelletter").innerHTML = panel;
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {  document.getElementById("sidebar").style.width = "0";}

      function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();


      function openCity2(evt, cityName) {
  // Declare all variables
  var i, tabcontentss, tablinksss;

  // Get all elements with class="tabcontent" and hide them
  tabcontentss = document.getElementsByClassName("tabcontentss");
  for (i = 0; i < tabcontentss.length; i++) {
    tabcontentss[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinksss = document.getElementsByClassName("tablinksss");
  for (i = 0; i < tablinksss.length; i++) {
    tablinksss[i].className = tablinksss[i].className.replace(" activess", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " activess";
}
document.getElementById("defaultOpenss").click();


var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
  // function random() {
  // setInterval(function(){
  
  // let demo = (Math.random() * (4 - 2) + 2).toFixed(2);
  // document.getElementById("demo").innerHTML = '$' + demo + '/hr';
  // let demo2 = (Math.random() * (1 - 0) + 0).toFixed(2);
  // document.getElementById("demo2").innerHTML = '$' + demo2 + '/hr';
  // var demo3 = (Math.random() * (2 - 1) + 1).toFixed(2);
  // document.getElementById("demo3").innerHTML = '$' + demo3 + '/hr';
  // var demo4 = (Math.random() * (4 - 2) + 2).toFixed(2);
  // document.getElementById("demo4").innerHTML = '$' + demo4 + '/hr';
  // var demo5 = (Math.random() * (1 - 0) + 0).toFixed(2);
  // document.getElementById("demo5").innerHTML = '$' + demo5 + '/hr';
  // var demo6 = (Math.random() * (2 - 0) + 0).toFixed(2);
  // document.getElementById("demo6").innerHTML = '$' + demo6 + '/hr';
  // var demo7 = (Math.random() * (1 - 0) + 0).toFixed(2);
  // document.getElementById("demo7").innerHTML = '$' + demo7 + '/hr';
  // var demo8 = (Math.random() * (1 - 0) + 0).toFixed(2);
  // document.getElementById("demo8").innerHTML = '$' + demo8 + '/hr';
  // var demo9 = (Math.random() * (1 - 0) + 0).toFixed(2);
  // document.getElementById("demo9").innerHTML = '$' + demo9 + '/hr';
  // var demo10 = (Math.random() * (1 - 0) + 0).toFixed(2);
  // document.getElementById("demo10").innerHTML = '$' + demo10 + '/hr';

  // let total = parseFloat(demo) + parseFloat(demo2) + parseFloat(demo3) + parseFloat(demo4) + parseFloat(demo5) + parseFloat(demo6) + parseFloat(demo7) + parseFloat(demo8) + parseFloat(demo9) + parseFloat(demo10);
  // let percentage = document.getElementById("percentage").innerHTML = ((parseFloat(demo)/ total) * 100).toFixed(0) + "%";
  // let percentage2 = document.getElementById("percentage2").innerHTML = ((parseFloat(demo2)/ total) * 100).toFixed(0) + "%";
  // let percentage3 = document.getElementById("percentage3").innerHTML = ((parseFloat(demo3)/ total) * 100).toFixed(0) + "%";
  // let percentage4 = document.getElementById("percentage4").innerHTML = ((parseFloat(demo4)/ total) * 100).toFixed(0) + "%";
  // let percentage5 = document.getElementById("percentage5").innerHTML = ((parseFloat(demo5)/ total) * 100).toFixed(0) + "%";
  // let percentage6 = document.getElementById("percentage6").innerHTML = ((parseFloat(demo6)/ total) * 100).toFixed(0) + "%";
  // let percentage7 = document.getElementById("percentage7").innerHTML = ((parseFloat(demo7)/ total) * 100).toFixed(0) + "%";
  // let percentage8 = document.getElementById("percentage8").innerHTML = ((parseFloat(demo8)/ total) * 100).toFixed(0) + "%";
  // let percentage9 = document.getElementById("percentage9").innerHTML = ((parseFloat(demo9)/ total) * 100).toFixed(0) + "%";
  // let percentage10 = document.getElementById("percentage10").innerHTML = ((parseFloat(demo10)/ total) * 100).toFixed(0) + "%";
  // document.getElementById("total").innerHTML = '$' + total.toFixed(2) + '/hr';
  // let width = 250 * ((parseFloat(demo)/ total));
  // let width2 = 250 * ((parseFloat(demo2)/ total));
  // let width3 = 250 * ((parseFloat(demo3)/ total));
  // let width4 = 250 * ((parseFloat(demo4)/ total));
  // let width5 = 250 * ((parseFloat(demo5)/ total));
  // let width6 = 250 * ((parseFloat(demo6)/ total));
  // let width7 = 250 * ((parseFloat(demo7)/ total));
  // let width8 = 250 * ((parseFloat(demo8)/ total));
  // let width9 = 250 * ((parseFloat(demo9)/ total));
  // let width10 = 250 * ((parseFloat(demo10)/ total));
  // document.getElementById("bar").style.width = width + "px";
  // document.getElementById("bar2").style.width = width2 + "px";
  // document.getElementById("bar3").style.width = width3 + "px";
  // document.getElementById("bar4").style.width = width4 + "px";
  // document.getElementById("bar5").style.width = width5 + "px";
  // document.getElementById("bar6").style.width = width6 + "px";
  // document.getElementById("bar7").style.width = width7 + "px";
  // document.getElementById("bar8").style.width = width8 + "px";
  // document.getElementById("bar9").style.width = width9 + "px";
  // document.getElementById("bar10").style.width = width10 + "px";
  // document.getElementById("percentage").style.left = width + 5 + "px";
  // document.getElementById("percentage2").style.left = width2 + 5 + "px";
  // document.getElementById("percentage3").style.left = width3 + 5 + "px";
  // document.getElementById("percentage4").style.left = width4 + 5 + "px";
  // document.getElementById("percentage5").style.left = width5 + 5 + "px";
  // document.getElementById("percentage6").style.left = width6 + 5 + "px";
  // document.getElementById("percentage7").style.left = width7 + 5 + "px";
  // document.getElementById("percentage8").style.left = width8 + 5 + "px";
  // document.getElementById("percentage9").style.left = width9 + 5 + "px";
  // document.getElementById("percentage10").style.left = width10 + 5 + "px";

  //   let watts = (Math.random() * (360 - 340) + 340).toFixed(0);
  // document.getElementById("watts").innerHTML = watts + '/watts';
  // let watts2 = (Math.random() * (80 - 70) + 70).toFixed(0);
  // document.getElementById("watts2").innerHTML = watts2 + '/watts';
  // var watts3 = (Math.random() * (240 - 230) + 230).toFixed(0);
  // document.getElementById("watts3").innerHTML = watts3 + '/watts';
  // var watts4 = (Math.random() * (60 - 50) + 60).toFixed(0);
  // document.getElementById("watts4").innerHTML = watts4 + '/watts';
  // var watts5 = (Math.random() * (90 - 80) + 80).toFixed(0);
  // document.getElementById("watts5").innerHTML = watts5 + '/watts';
  // var watts6 = (Math.random() * (15 - 10) + 10).toFixed(0);
  // document.getElementById("watts6").innerHTML = watts6 + '/watts';
  // var watts7 = (Math.random() * (15 - 10) + 10).toFixed(0);
  // document.getElementById("watts7").innerHTML = watts7 + '/watts';
  // var watts8 = (Math.random() * (30 - 20) + 20).toFixed(0);
  // document.getElementById("watts8").innerHTML = watts8 + '/watts';
  // var watts9 = (Math.random() * (40 - 30) + 30).toFixed(0);
  // document.getElementById("watts9").innerHTML = watts9 + '/watts';
  // var watts10 = (Math.random() * (160 - 150) + 150).toFixed(0);
  // document.getElementById("watts10").innerHTML = watts10 + '/watts';

  // let wattstotal = parseFloat(watts) + parseFloat(watts2) + parseFloat(watts3) + parseFloat(watts4) + parseFloat(watts5) + parseFloat(watts6) + parseFloat(watts7) + parseFloat(watts8) + parseFloat(watts9) + parseFloat(watts10);
  // let wattspercentage = document.getElementById("wattspercentage").innerHTML = ((parseFloat(watts)/ wattstotal) * 100).toFixed(0) + "%";
  // let wattspercentage2 = document.getElementById("wattspercentage2").innerHTML = ((parseFloat(watts2)/ wattstotal) * 100).toFixed(0) + "%";
  // let wattspercentage3 = document.getElementById("wattspercentage3").innerHTML = ((parseFloat(watts3)/ wattstotal) * 100).toFixed(0) + "%";
  // let wattspercentage4 = document.getElementById("wattspercentage4").innerHTML = ((parseFloat(watts4)/ wattstotal) * 100).toFixed(0) + "%";
  // let wattspercentage5 = document.getElementById("wattspercentage5").innerHTML = ((parseFloat(watts5)/ wattstotal) * 100).toFixed(0) + "%";
  // let wattspercentage6 = document.getElementById("wattspercentage6").innerHTML = ((parseFloat(watts6)/ wattstotal) * 100).toFixed(0) + "%";
  // let wattspercentage7 = document.getElementById("wattspercentage7").innerHTML = ((parseFloat(watts7)/ wattstotal) * 100).toFixed(0) + "%";
  // let wattspercentage8 = document.getElementById("wattspercentage8").innerHTML = ((parseFloat(watts8)/ wattstotal) * 100).toFixed(0) + "%";
  // let wattspercentage9 = document.getElementById("wattspercentage9").innerHTML = ((parseFloat(watts9)/ wattstotal) * 100).toFixed(0) + "%";
  // let wattspercentage10 = document.getElementById("wattspercentage10").innerHTML = ((parseFloat(watts10)/ wattstotal) * 100).toFixed(0) + "%";
  // document.getElementById("wattstotal").innerHTML = wattstotal.toFixed(0) + '/watts';
  // let wattswidth = 250 * ((parseFloat(demo)/ total));
  // let wattswidth2 = 250 * ((parseFloat(demo2)/ total));
  // let wattswidth3 = 250 * ((parseFloat(demo3)/ total));
  // let wattswidth4 = 250 * ((parseFloat(demo4)/ total));
  // let wattswidth5 = 250 * ((parseFloat(demo5)/ total));
  // let wattswidth6 = 250 * ((parseFloat(demo6)/ total));
  // let wattswidth7 = 250 * ((parseFloat(demo7)/ total));
  // let wattswidth8 = 250 * ((parseFloat(demo8)/ total));
  // let wattswidth9 = 250 * ((parseFloat(demo9)/ total));
  // let wattswidth10 = 250 * ((parseFloat(demo10)/ total));
  // document.getElementById("wattsbar").style.width = wattswidth + "px";
  // document.getElementById("wattsbar2").style.width = wattswidth2 + "px";
  // document.getElementById("wattsbar3").style.width = wattswidth3 + "px";
  // document.getElementById("wattsbar4").style.width = wattswidth4 + "px";
  // document.getElementById("wattsbar5").style.width = wattswidth5 + "px";
  // document.getElementById("wattsbar6").style.width = wattswidth6 + "px";
  // document.getElementById("wattsbar7").style.width = wattswidth7 + "px";
  // document.getElementById("wattsbar8").style.width = wattswidth8 + "px";
  // document.getElementById("wattsbar9").style.width = wattswidth9 + "px";
  // document.getElementById("wattsbar10").style.width = wattswidth10 + "px";
  // document.getElementById("wattspercentage").style.left = wattswidth + 5 + "px";
  // document.getElementById("wattspercentage2").style.left = wattswidth2 + 5 + "px";
  // document.getElementById("wattspercentage3").style.left = wattswidth3 + 5 + "px";
  // document.getElementById("wattspercentage4").style.left = wattswidth4 + 5 + "px";
  // document.getElementById("wattspercentage5").style.left = wattswidth5 + 5 + "px";
  // document.getElementById("wattspercentage6").style.left = wattswidth6 + 5 + "px";
  // document.getElementById("wattspercentage7").style.left = wattswidth7 + 5 + "px";
  // document.getElementById("wattspercentage8").style.left = wattswidth8 + 5 + "px";
  // document.getElementById("wattspercentage9").style.left = wattswidth9 + 5 + "px";
  // document.getElementById("wattspercentage10").style.left = wattswidth10 + 5 + "px";

  // let lighting = parseFloat(percentage) + parseFloat(percentage6) + parseFloat(percentage9); 
  // let electrical = parseFloat(percentage4);
  // let plugload =  parseFloat(percentage3);
  // let dhw = parseFloat(percentage2) + parseFloat(percentage5);
  // let mechanical = parseFloat(percentage10) + parseFloat(percentage8) + parseFloat(percentage7);
  // document.getElementById("lighting").innerHTML = lighting + "%";
  // document.getElementById("electrical").innerHTML = electrical + "%";
  // document.getElementById("dhw").innerHTML = dhw + "%";
  // document.getElementById("mechanical").innerHTML = mechanical + "%";
  // document.getElementById("panelA").innerHTML = lighting + "%";
  // document.getElementById("panelB").innerHTML = electrical + "%";
  // document.getElementById("panelC").innerHTML = plugload + "%";
  // document.getElementById("panelD").innerHTML = dhw + "%";
  // document.getElementById("panelE").innerHTML = mechanical + "%";

  

// }, 1000);
// }
  </script>
</html>
