<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1360, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/historical-usage-lines-display-category.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/globals.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" type="text/javascript"></script>
  </head>
  <body style="margin: 0; background: #ffffff" onload="getDate(); resetVariables(); getTotal();">
    <input type="hidden" id="anPageName" name="page" value="historical-usage-lines-display-category" />
    <div class="container-center-horizontal">
      <div class="historical-usage-lines-display-category screen">
        <div class="rectangle-2893-L7BXHD"></div>
        <div class="header-L7BXHD"><img class="pollen-2-eSrYGi" src="{{url_for('static',filename='img/pollen-2@2x.png')}}" /></div>
        <div class="welcome-john-L7BXHD avertacy-bold-sapphire-20px">Welcome John,</div>
        <a href = "{{url_for('commercial.facilityoverview')}}"><div class="overview-L7BXHD avertacy-bold-sapphire-20px">Overview</div></a>
        <div class="kpis-L7BXHD avertacy-bold-sapphire-13px">KPI’S</div>
        <div class="historical-L7BXHD avertacy-bold-sapphire-13px">Historical</div>
        <div class="inventory-L7BXHD avertacy-bold-sapphire-13px">Inventory</div>
        <div class="utilities-L7BXHD avertacy-bold-sapphire-13px">Utilities</div>
        <a href = "{{url_for('accounts.logout')}}"><div class="logout-l6cqYc avertacy-bold-sapphire-13px">Logout</div></a>
        <div class="group-7235-L7BXHD">
          <img class="x3-c-path-x3-e-ObAtMx" src="{{url_for('static',filename='img/x3c-path-x3e@2x.svg')}}" />
          <div class="ellipse-437-ObAtMx"></div>
        </div>
        <img class="rectangle-2938-L7BXHD" src="{{url_for('static',filename='img/rectangle-2938@2x.svg')}}" />
        <img class="kaltire-256-2-L7BXHD" src="{{url_for('static',filename='img/kaltire--256-2@2x.png')}}" />
        <div class="store-087-L7BXHD">Store #087</div>
        <p class="x4720-yellowhead-on-ab-t5-l-3-cs-L7BXHD">4720 Yellowhead Trail NW,<br />Edmonton, AB T5L 3CS</p>
        <div class="group-7195-L7BXHD">
          <div class="rectangle-2316-EuxCkZ"></div>
          <div class="chevron-down-EuxCkZ"><img class="vector-C9s5vk" src="{{url_for('static',filename='img/vector@2x.svg')}}" /></div>
        </div>
        <div class="your-viewing-L7BXHD">Your Viewing</div>
        <img class="sidebar-L7BXHD" src="{{url_for('static',filename='img/sidebar@1x.svg')}}" />
        <div class="electrical-load-by-panel-L7BXHD avertacy-bold-sapphire-20px">Sort by:</div>
        <div class = 'tab'>
        <button class="category-L7BXHD tablinks" onclick = "openCity(event, 'Category')"  id = "defaultOpen">Category</button>
        <button class="panel-L7BXHD avertacy-bold-sapphire-15px tablinks"onclick = "openCity(event, 'Panel')">Panel</button>
        <div id="Category" class="tabcontent">
                    <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12" style ="left:1018px;top:218px; position: absolute;">
                        <div id="chart"></div>
                        </div>
                          <script>
                           
                        </script>
                    </div>
        <div class="x100-L7BXHD" id = 'percent3'></div>
          <div class="rectangle-2973-L7BXHD"  style = "height: 270px;"></div>
        <div class="rectangle-2340-L7BXHD"></div>
        <div class="rectangle-2974-L7BXHD"></div>
        <div class="rectangle-2975-L7BXHD"></div>
        <div class="rectangle-2976-L7BXHD"></div>
        <div class="rectangle-2977-L7BXHD"></div>
        <div class="rectangle-2978-l6cqYc"></div>
        <div class="rectangle-15-L7BXHD"></div>
        <div class="lighting-L7BXHD avertacy-bold-sapphire-12px">Lighting</div>
        <div class="x43-L7BXHD avertacy-bold-sapphire-12px" id = 'lighting'></div>
        <div class="x21-zsJCYe avertacy-bold-sapphire-12px" id = 'electrical'></div>
        <div class="x19-L7BXHD avertacy-bold-sapphire-12px" id = 'plugload'></div>
        <div class="x11-L7BXHD avertacy-bold-sapphire-12px" id = 'dhw'></div>
        <div class="x6-L7BXHD avertacy-bold-sapphire-12px" id = 'mechanical'></div>
        <div class="electrical-L7BXHD avertacy-bold-sapphire-12px">Equipment</div>
        <div class="plug-load-L7BXHD avertacy-bold-sapphire-12px">HVAC</div>
        <div class="dhw-L7BXHD avertacy-bold-sapphire-12px">Plug Load</div>
        <div class="mechanical-L7BXHD avertacy-bold-sapphire-12px">Hot Water</div>
        <div class="panel-f-l6cqYc avertacy-bold-sapphire-12px">Other</div>
        <input type= 'checkbox'class="rectangle-3024-L7BXHD" id= 'panel1check' onclick= "toggleLighting(); checkIf0();" checked/><label for = 'panel1check'></label>
        <input type= 'checkbox' class="rectangle-3032-L7BXHD"id= 'panel2check' onclick= "toggleEquipment(); checkIf0();" checked/><label for = 'panel2check'></label>
        <input type= 'checkbox' class="rectangle-3033-L7BXHD"id= 'panel2check' onclick= "toggleHVAC(); checkIf0();" checked/><label for = 'panel2check'></label>
        <input type= 'checkbox' class="rectangle-3034-L7BXHD"id= 'panel2check' onclick= "togglePlugLoad(); checkIf0();" checked/><label for = 'panel2check'></label>
        <input type= 'checkbox' class="rectangle-3035-L7BXHD"id= 'panel1check' onclick= "toggleHotWater(); checkIf0();" checked/><label for = 'panel1check'></label>
        <input type= 'checkbox' class="rectangle-30352-l6cqYc"id= 'panel1check' onclick= "toggleOther(); checkIf0();" checked/><label for = 'panel1check'></label>
        <div class="category-zsJCYe avertacy-bold-sapphire-15px">Category</div>
      </div>
              <div id="Panel" class="tabcontent">
                    <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12" style ="left:1018px;top:218px; position: absolute;">
                        <div id="chart3"></div>
                        </div>
                          <script>

                        </script>
                    </div>
        <div class="x100-L7BXHD" id = 'percent4'></div>
          <div class="rectangle-2973-L7BXHD"></div>
        <div class="rectangle-2340-L7BXHD"></div>
        <div class="rectangle-2974-L7BXHD"></div>
        <div class="rectangle-2975-L7BXHD"></div>
        <div class="rectangle-2976-L7BXHD"></div>
        <div class="rectangle-2977-L7BXHD"></div>
        <div class="rectangle-15-L7BXHD"></div>
        <div class="lighting-L7BXHD avertacy-bold-sapphire-12px">Panel A</div>
        <div class="x43-L7BXHD avertacy-bold-sapphire-12px" id = "panelA"></div>
        <div class="x21-zsJCYe avertacy-bold-sapphire-12px" id = "panelB"></div>
        <div class="x19-L7BXHD avertacy-bold-sapphire-12px" id = "panelC"></div>
        <div class="x11-L7BXHD avertacy-bold-sapphire-12px" id = "panelD"></div>
        <div class="x6-L7BXHD avertacy-bold-sapphire-12px" id = "panelE"></div>
        <div class="electrical-L7BXHD avertacy-bold-sapphire-12px">Panel B</div>
        <div class="plug-load-L7BXHD avertacy-bold-sapphire-12px">Panel C </div>
        <div class="dhw-L7BXHD avertacy-bold-sapphire-12px">Panel D</div>
        <div class="mechanical-L7BXHD avertacy-bold-sapphire-12px">Panel E</div>
        <input type= 'checkbox'class="rectangle-3024-L7BXHD"d= 'panel1check' onclick= "chart.toggleSeries('Panel A');" checked/><label for = 'panel1check'></label>
        <input type= 'checkbox' class="rectangle-3032-L7BXHD"id= 'panel2check' onclick= "chart.toggleSeries('Panel 2');" checked/><label for = 'panel2check'></label>
        <input type= 'checkbox' class="rectangle-3033-L7BXHD"id= 'panel2check' onclick= "chart.toggleSeries('Panel 3');" checked/><label for = 'panel2check'></label>
        <input type= 'checkbox' class="rectangle-3034-L7BXHD"id= 'panel2check' onclick= "chart.toggleSeries('Panel 4');" checked/><label for = 'panel2check'></label>
        <input type= 'checkbox' class="rectangle-3035-L7BXHD"id= 'panel1check' onclick= "chart.toggleSeries('Panel 5');" checked/><label for = 'panel1check'></label>
        <div class="category-zsJCYe avertacy-bold-sapphire-15px">Category</div>
      </div>
        <div class="rectangle-2984-L7BXHD"></div>
        <a href = "{{url_for('commercial.historicalusageweek')}}"><div class="week-L7BXHD avertacy-bold-sapphire-13px" style = "color: white;">Week</div></a>
        <div class="month-L7BXHD avertacy-bold-sapphire-13px">Month</div>
        <img class="rectangle-3207-week" src="{{url_for('static',filename='img/rectangle-3207@2x.svg')}}" />
        <a href = "{{url_for('commercial.historicalusage')}}"><div class="day-L7BXHD" style = "color: #3044A5;">Day</div>
        <div class = scrollable>
        {% for i in range (0, len) %}

        <div class="rectangle-3165-L7BXHD {{historicalusage.iloc[i][2]}}">
        <div class="lunchroom-lights-L7BXHD avertacy-bold-sapphire-11px {{historicalusage.iloc[i][2]}}">{{historicalusage.iloc[i][0]}}</div>
        <div class="x345-L7BXHD avertacy-bold-sapphire-11px {{historicalusage.iloc[i][2]}}">{{historicalusage.iloc[i][1]}}w</div>
        <div class="rectangle-3184-L7BXHD {{historicalusage.iloc[i][2]}}line" {% if historicalusage.iloc[i][1] == 0 %} style = 'width: 2px; background-color: grey;'{% elif historicalusage.iloc[i][1] > 0  %} style = 'width: {{250 * (historicalusage.iloc[i][1]/total) + 5}}px;'{% endif %}><div class="x21-L7BXHD avertacy-bold-sapphire-11px {{historicalusage.iloc[i][2]}}" {% if historicalusage.iloc[i][1] == 0 %} style = 'left: {{250 * (historicalusage.iloc[i][1]/total) + 5}}px;  color: grey;'{% elif historicalusage.iloc[i][1] > 0  %} style = 'left: {{250 * (historicalusage.iloc[i][1]/total) + 10}}px;'{% endif %}>{{"%.2f"|format(((historicalusage.iloc[i][1]/ total) * 100)|float)}}%</div></div></div>
        {% endfor %}
    </div>
        <div class="rectangle-3099-L7BXHD"></div>
        <div class="x1245-L7BXHD avertacy-bold-sapphire-15px">
          <span class="span0-rNQNIN avertacy-bold-sapphire-15px">$</span
          ><span class="span1-rNQNIN avertacy-bold-sapphire-25px" id = 'totalprice'></span>
        </div>
        <div class="x13212-k-wh-L7BXHD avertacy-bold-sapphire-25px">
          <span class="span0-84mBJe avertacy-bold-sapphire-25px" id = 'total'></span
          ><span class="span1-84mBJe avertacy-bold-sapphire-20px">&nbsp;</span
          ><span class="span2-84mBJe avertacy-bold-sapphire-15px">kWh</span>
        </div>
        <div class="costs-L7BXHD avertacy-bold-sapphire-8px">Costs</div>
        <div class="consumption-L7BXHD avertacy-bold-sapphire-8px">Consumption</div>
        <a href= "{{url_for('commercial.historicalusage')}}"><div class="group-7245-L7BXHD">
          <div class="rectangle-2902-nqAY6x"></div>
          <div class="group-7237-nqAY6x">
            <div class="group-Svduiw">
              <img class="vector-Jzmg6z" src="{{url_for('static',filename='img/vector-11111@2x.svg')}}" />
              <img class="vector-jG2uWN" src="{{url_for('static',filename='img/vector-22222@2x.svg')}}" />
            </div>
            <div class="rectangle-2895-Svduiw"></div>
            <div class="rectangle-2896-Svduiw"></div>
            <div class="rectangle-2897-Svduiw"></div>
            <div class="rectangle-2898-Svduiw"></div>
          </div>
        </div></a>
        <a href= "{{url_for('commercial.historicalusageweekline')}}"><div class="group-7246-L7BXHD">
          <div class="rectangle-2903-WSB1YA"></div>
          <div class="group-WSB1YA">
            <div class="group-WOkfbn"><img class="group-s2WuyE" src="{{url_for('static',filename='img/group@22222x.svg')}}" /></div>
          </div>
        </div></a>
                        <div class="col-lg-6 col-md-12 col-sm-12 " style ="left:330px; width: 400px; z-index: 50; top: 150px;" >
                            <div id="chart2"></div>
                        </div>
                          <script>
                            var options = {
                                  colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#DBE2F3'],
                                  series: [
                                  {
                                    name: "Panel A",
                                    data: [{{home_upgrades[0]}},{{home_upgrades[1]}},{{home_upgrades[2]}},{{home_upgrades[3]}},{{home_upgrades[4]}},{{home_upgrades[5]}},{{home_upgrades[6]}},{{home_upgrades[7]}},{{home_upgrades[8]}},{{home_upgrades[9]}},{{home_upgrades[10]}},{{home_upgrades[11]}},{{home_upgrades[12]}}]
                                  },
                                  {
                                    name: "Panel 2",
                                    data: [{{home_upgrades1[0]}},{{home_upgrades1[1]}},{{home_upgrades1[2]}},{{home_upgrades1[3]}},{{home_upgrades1[4]}},{{home_upgrades1[5]}},{{home_upgrades1[6]}},{{home_upgrades1[7]}},{{home_upgrades1[8]}},{{home_upgrades1[9]}},{{home_upgrades1[10]}},{{home_upgrades1[11]}},{{home_upgrades1[12]}}]
                                  },
                                  {
                                    name: "Panel 3",
                                    data: [{{home_upgrades3[0]}},{{home_upgrades3[1]}},{{home_upgrades3[2]}},{{home_upgrades3[3]}},{{home_upgrades3[4]}},{{home_upgrades3[5]}},{{home_upgrades3[6]}},{{home_upgrades3[7]}},{{home_upgrades3[8]}},{{home_upgrades3[9]}},{{home_upgrades3[10]}},{{home_upgrades3[11]}},{{home_upgrades3[12]}}]
                                  },
                                  {
                                    name: "Panel 4",
                                    data: [{{home_upgrades4[0]}},{{home_upgrades4[1]}},{{home_upgrades4[2]}},{{home_upgrades4[3]}},{{home_upgrades4[4]}},{{home_upgrades4[5]}},{{home_upgrades4[6]}},{{home_upgrades4[7]}},{{home_upgrades4[8]}},{{home_upgrades4[9]}},{{home_upgrades4[10]}},{{home_upgrades4[11]}},{{home_upgrades4[12]}}]
                                  },
                                  {
                                    name: "Panel 5",
                                    data: [{{home_upgrades5[0]}},{{home_upgrades5[1]}},{{home_upgrades5[2]}},{{home_upgrades5[3]}},{{home_upgrades5[4]}},{{home_upgrades5[5]}},{{home_upgrades5[6]}},{{home_upgrades5[7]}},{{home_upgrades5[8]}},{{home_upgrades5[9]}},{{home_upgrades5[10]}},{{home_upgrades5[11]}},{{home_upgrades5[12]}}]
                                  },
                                  {
                                    name: "Panel 6",
                                    data: [{{home_upgrades6[0]}},{{home_upgrades6[1]}},{{home_upgrades6[2]}},{{home_upgrades6[3]}},{{home_upgrades6[4]}},{{home_upgrades6[5]}},{{home_upgrades6[6]}},{{home_upgrades6[7]}},{{home_upgrades6[8]}},{{home_upgrades6[9]}},{{home_upgrades6[10]}},{{home_upgrades6[11]}},{{home_upgrades6[12]}}]
                                  }
                                ],
                                  chart: {
                                  height: '280px',
                                  width: '300px',
                                  type: 'bar',
                                  zoom: {
                                    enabled: false
                                  },
                                  toolbar:{
                                    show: false,
                                  },
                                },
                                dataLabels: {
                                  enabled: false
                                },
                                legend:{
                                  show: false
                                },
                                stroke: {
                                  curve: 'smooth'
                                },
                                grid: {
                                  row: {
                                    colors: ['transparent', 'transparent'], // takes an array which will be repeated on columns
                                    opacity: 0.5
                                  },
                                },
                                xaxis: {
                                  labels:{
                                    show: false
                                  },
                                  axisBorder:{
                                    show: false
                                  },
                                  axisTicks:{
                                    show: false
                                  },
                                },
                                yaxis:{
                                  labels:{
                                  style:{
                                      colors: 'DarkBlue',
                                      fontFamily: " Helvetica, Averta CY-Bold",
                                      fontSize: '10px',
                                      fontWeight: 700,
                                  },
                                  maxHeight: undefined,
                                   "formatter": function (val) {
                                    return val.toFixed(2)
                                },
                                },
                                },
                                };

                                var chart = new ApexCharts(document.querySelector("#chart2"), options);
                                chart.render();
                        </script>
                      </div>

        <h1 class="title-L7BXHD">Historical Usage</h1>
        <img class="rectangle-3269-L7BXHD" src="{{url_for('static',filename='img/rectangle-3269@2x.svg')}}" />
        <div class="x66-L7BXHD avertacy-bold-sapphire-18px">
          <span class="span0-nJpIKI avertacy-bold-sapphire-18px"id = 'percentage'></span
          ><span class="span1-nJpIKI avertacy-bold-sapphire-12px">%</span>
        </div>
        <div class="x43kgco2-L7BXHD avertacy-bold-sapphire-18px">
          <span class="span0-EZZlMT avertacy-bold-sapphire-18px">4.3</span><span class="span1-EZZlMT">kg/CO2</span>
        </div>
        <div class="usage-L7BXHD avertacy-bold-sapphire-8px">Usage</div>
        <div class="emissions-L7BXHD avertacy-bold-sapphire-8px">Emissions</div>
        <div class="rectangle-3262-L7BXHD"></div>
        <form onsubmit="setTimeout(function(){window.location.reload();},10);" method = "POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="group-7286-L7BXHD">
          <input onchange= "submit(); getTotal();" name = 'date' id = 'today2' type = 'week' class="march-18th-2021-tkyWp6">
        </div>
        </form>
      </div>
    </div>
  </body>
  <script >var options = {
                              labels: ["Lighting", "Equipment", "HVAC", "Plug Load", "Hot Water", "Other"],
                              series: [{{lighttotal}},{{equipmenttotal}},{{hvactotal}},{{plugtotal}},{{watertotal}},{{othertotal}} ],
                              chart: {
                              width: 200,
                              type: 'donut',
                            },
                            dataLabels: {
                              enabled: false
                            },
                            legend: {
                                position: 'bottom',
                                show:false
                            },

                            colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#90C449','#DBE2F3'],

                            responsive: [{
                              breakpoint: 480,
                              options: {
                                chart: {
                                  width: 300
                                },
                              }
                            }]
                            };
                            var chart = new ApexCharts(document.querySelector("#chart"), options);
                            chart.render();
</script>
    <script>
    function openNav(panel) {
  document.getElementById("sidebar").style.width = "600px";
  document.getElementById("panelletter").innerHTML = panel;
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {  document.getElementById("sidebar").style.width = "0";}

      function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();


var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
  function toggle(source) {
      checkboxes = document.getElementsByName('panel1check');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  let today = new Date().toISOString().substr(0, 10);
  document.querySelector("#today").value = today;

  document.querySelector("#today2").valueAsDate = new Date();

function getDate(){
    var today = new Date();

document.getElementById("today2").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);


}
  </script>
<script>
    var newtotal = 0;
    var newtotalprice = 0;
    var newpercent = 0;
    var colors = ['{{colours[0]}}','{{colours[1]}}','{{colours[2]}}','{{colours[3]}}','{{colours[4]}}','{{colours[5]}}'];
    function toggleLighting() {
  var x = document.getElementsByClassName("lighting");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
}
  if (x[0].style.display === "none") {
    newtotal = (newtotal - {{lighttotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{lightprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{lightpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeLighting();
    chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{lighttotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{lightprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{lightpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addLighting();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleEquipment() {
  var x = document.getElementsByClassName("equipment");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
    if (x[0].style.display === "none") {
    newtotal = (newtotal - {{equipmenttotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{equipmentprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{equipmentpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeEquipment();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{equipmenttotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{equipmentprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{equipmentpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addEquipment();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleHVAC() {
  var x = document.getElementsByClassName("hvac");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{hvactotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{hvacprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{hvacpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeHVAC();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{hvactotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{hvacprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{hvacpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addHVAC();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function togglePlugLoad() {
  var x = document.getElementsByClassName("plugload");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{plugtotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{plugprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{plugpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removePlug();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{plugtotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{plugprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{plugpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addPlug();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleHotWater() {
  var x = document.getElementsByClassName("hotwater");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{watertotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{waterprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{waterpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeWater();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{watertotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{waterprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{waterpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addWater();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleOther() {
  var x = document.getElementsByClassName("other");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{othertotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{otherprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{otherpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeOther();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{othertotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{otherprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{otherpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addOther();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})

  }
}

function getTotal() {
  newtotal = {{"%.2f"|format(total/1000)|float}};
  document.getElementById("total").innerHTML = newtotal;
  newtotalprice = {{"%.2f"|format(totalprice)|float}}
  document.getElementById("totalprice").innerHTML =newtotalprice;
  newpercent = 100;
  document.getElementById("percentage").innerHTML = newpercent;
  document.getElementById("percent3").innerHTML = newpercent + "<span style = 'font-size: 12px;'>%'</span>";
  document.getElementById("percent4").innerHTML = newpercent + "<span style = 'font-size: 12px;'>%</span>";
}
function resetVariables(){
  newtotal = 0;
  newtotalprice = 0;
  newpercent = 0;
}
  </script>
  <script>
    function removeLighting() {
        colors[0] = '#FFFFFF'
      }
      function removeEquipment() {
        colors[1] = '#FFFFFF'
      }
      function removeHVAC() {
        colors[2] = '#FFFFFF'
      }
      function removePlug() {
        colors[3] = '#FFFFFF'
      }
      function removeWater() {
        colors[4] = '#FFFFFF'
      }
      function removeOther() {
        colors[5] = '#FFFFFF'
      }
  </script>
    <script>
    function addLighting() {
        colors[0] = '#3649A8'
      }
      function addEquipment() {
        colors[1] = '#3BCDEE'
      }
      function addHVAC() {
        colors[2] = '#EE5937'
      }
      function addPlug() {
        colors[3] = '#EE8F37'
      }
      function addWater() {
        colors[4] = '#90C449'
      }
      function addOther() {
        colors[5] = '#DBE2F3'
      }
  </script>
  <script>
    function checkIf0(){
        if(colors[0] == '#FFFFFF' && colors[1] == '#FFFFFF' && colors[2] == '#FFFFFF' && colors[3] == '#FFFFFF' && colors[4] == '#FFFFFF' && colors[5] == '#FFFFFF'){
              document.getElementById("total").innerHTML = 0;
              document.getElementById("totalprice").innerHTML =0;
              document.getElementById("percentage").innerHTML = 0;
              document.getElementById("percent2").innerHTML = 0;
              document.getElementById("percent3").innerHTML = 0 + "<span style = 'font-size: 12px;'>%</span>";
              document.getElementById("percent4").innerHTML = 0 + "<span style = 'font-size: 12px;'>%</span>";
                    }
    }
  </script>
</html>
