<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1360, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/historical-usage-lines-display-category.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/globals.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" type="text/javascript"></script>
  </head>
  <body style="margin: 0; background: #ffffff" onload="resetVariables(); createTotalChart(); changetoEnergy(); getTotal(); ">
    <input type="hidden" id="anPageName" name="page" value="historical-usage-lines-display-category" />
    <div class="container-center-horizontal">
      <div class="historical-usage-lines-display-category screen">
        <div class="rectangle-2893-l6cqYc"  id = 'leftretract'>
        <div class = 'activeline'></div>
        <img class = 'retractbuttonleft' id = 'leftbutton' onclick = "retractleft()" src = "{{url_for('static',filename='img/retractbuttonbackground.png')}}"/><img class = 'retractbuttonarrowleft'  onclick = "retractleft()" id = 'leftarrow' src = "{{url_for('static',filename='img/retractbuttonarrow.png')}}"/>
        <div class="header-l6cqYc" id = 'logodiv'><img class="pollen-2-7QcJ16" id = logoimage src="{{url_for('static',filename='img/logoimage.png')}}" /></div>
        <div class="dashboard-l6cqYc" id = 'dashboard'><img class="dashboardimage" src="{{url_for('static',filename='img/dashboardimage.png')}}" />Dashboard</div>
        <div class="overview-l6cqYc" id = 'liveusage'><img class="liveusageimage" src="{{url_for('static',filename='img/liveusageonimageoff.png')}}" />Live Usage</div>
        <a href = "{{url_for('commercial.historicalusage')}}"><div class="historical-l6cqYc avertacy-bold-sapphire-13px" id = 'historical'><img class="historicalimage" src="{{url_for('static',filename='img/historicalimageon.png')}}" />Historical</div></a>
        <div class="inventory-l6cqYc" id = 'inventory'><img class="inventoryimage" src="{{url_for('static',filename='img/inventoryimage.png')}}" />Inventory</div>
        <div class="utilities-l6cqYc" id = 'utilities'><img class="utilitiesimage" src="{{url_for('static',filename='img/utilitiesimage.png')}}" />Utilities</div>
        <a href = "{{url_for('accounts.logout')}}"><div class="logout-l6cqYc avertacy-bold-sapphire-13px" id = 'logout'><img class="logoutimage" src="{{url_for('static',filename='img/logoutimage.png')}}" />Logout</div></a>

        <div class = 'imageblock' id ='imageblock'>
        <img class="kaltire-256-2-l6cqYc" src="{{url_for('static',filename='img/kaltire--256-2@22x.png')}}" />
        <div class = 'buildingname'>Butetown Store</div>
        <p class="x4720-yellowhead-on-ab-t5-l-3-cs-l6cqYc">4720 Yellowhead Trail NW</p>
        <div class = 'aboutbutton'><img class="info-imageblue" src="{{url_for('static',filename='img/infoimageblue.png')}}"/>About</div>
        <div class = 'switchbutton'><img class="info-imageblue" src="{{url_for('static',filename='img/switchimage.png')}}"/>Switch</div>
        <div class="group-7195-l6cqYc">
          <div class="rectangle-2316-33iHaU"></div>
          <div class="chevron-down-33iHaU"><img class="vector-LNtgXx" src="{{url_for('static',filename='img/vector@22x.svg')}}" /></div>
            </div>
        </div>
    </div>


        <div class = "rightside" id = 'rightside'>
            <div class = 'retractblock'>
                <img class = 'retractbutton'  onclick = "retract()" src = "{{url_for('static',filename='img/retractbuttonbackground.png')}}"/><img class = 'retractbuttonarrowright' id = 'rightarrow'  onclick = "retract()" src = "{{url_for('static',filename='img/retractbuttonarrow.png')}}"/>
            </div>
            <div class = "rightabsolute">
                <div class = 'rightsidetitle'>Load Filters</div>
                <div class = 'load-block'>
                    <div class = 'load-header'>Inventory</div>
                    <div class = 'load-content'>
                        <div class = 'donut-chart' id = 'chart'></div>
                        <div class = 'breakdown-block'>
                            <div class = 'breakdown-header'>Breakdown</div>
                            <div class = 'breakdown-content'>
                                {% for i in range (0, 3) %}
                                <div class = 'category-rectangle'>
                                    <div class = 'category-dot' style = 'background-color: {{categoriesdf.iloc[i][2]}};'></div>
                                    <div class = 'category-name'>{{categoriesdf.iloc[i][0]}}</div>
                                    <div class = 'category-percent'>{{categoriesdf.iloc[i][5]}}%</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = 'explore-block'>
                            <div class = 'explore-text'>Explore</div>
                            <div class = 'load-arrow'> <img class = 'load-arrow-image' src = "{{url_for('static',filename='img/load-arrow.png')}}"/></div>
                        </div>
                    </div>
                </div>
                <div class = 'load-block'>
                    <div class = 'load-header'>Panels</div>
                    <div class = 'load-content'>
                        <div class = 'donut-chart' id = 'chart3'></div>
                        <div class = 'breakdown-block'>
                            <div class = 'breakdown-header'>Breakdown</div>
                            <div class = 'breakdown-content'>
                                {% for i in range (0, numpanels) %}
                                <div class = 'category-rectangle'>
                                    <div class = 'category-dot' style = 'background-color: {{colours[i]}};'></div>
                                    <div class = 'category-name'>{{paneltotals.iloc[i][0]}}</div>
                                    <div class = 'category-percent'>{{paneltotals.iloc[i][2]}}%</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = 'explore-block'>
                            <div class = 'explore-text'>Explore</div>
                            <div class = 'load-arrow'> <img class = 'load-arrow-image' src = "{{url_for('static',filename='img/load-arrow.png')}}"/></div>
                        </div>
                    </div>
                </div>
                <div class = 'load-block'>
                    <div class = 'load-header'>Time Loads</div>
                    <div class = 'load-content'>
                        <div class = 'donut-chart' id = 'chart4'></div>
                        <div class = 'breakdown-block'>
                            <div class = 'breakdown-header'>Breakdown</div>
                            <div class = 'breakdown-content'>
                                {% for i in range (0, 3) %}
                                <div class = 'category-rectangle'>
                                    <div class = 'category-dot' style = 'background-color: {{categoriesdf.iloc[i][2]}};'></div>
                                    <div class = 'category-name'>{{categoriesdf.iloc[i][0]}}</div>
                                    <div class = 'category-percent'>{{categoriesdf.iloc[i][5]}}%</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = 'explore-block'>
                            <div class = 'explore-text'>Explore</div>
                            <div class = 'load-arrow'> <img class = 'load-arrow-image' src = "{{url_for('static',filename='img/load-arrow.png')}}"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="title-L7BXHD">Historical Usage</h1>
        <div class="rectangle-2984-L7BXHD">
        <div class = 'circuit-block' id = 'circuit-block'>
            <div class = 'circuit-header'>
                <div class = 'circuit-title' id = 'circuit-title'>Name</div>
                <div class = 'exit-button' onclick = 'closeCircuitBlock();'><img class = 'exit-button-image' src ="{{url_for('static',filename='img/exit-button-image.png')}}"/></div>
            </div>
            <div class = 'circuit-content'>
                <div class = 'past-use'>Past-Use</div>
                    <div class = 'total-block'>    
                    <div class = 'total-box' style = 'margin-right: 20px;'><span style = 'font-size: 20px;'>$</span>{{totalprice|int}}<span class = 'decimal-span' style = 'font-size: 10px;'>.{{(totalprice|string).split('.')[1]|truncate(2, true, '', 0)}}</span><div class = total-box-line>Costs</div></div>

                    <div class = 'total-box'style = 'margin-right: 20px;'>{{(total/1000)|int}}<span class = 'decimal-span' style = 'font-size: 9px; width: 5px;'>.{{((total/1000)|string).split('.')[1]|truncate(2, true, '', 0)}}</span><span class = 'kwh-total'>kWh</span><div class = total-box-line>Usage</div></div>

                    <div class = 'total-box'>6<span class = 'decimal-span' style = 'font-size: 9px; width: 5px;'>.09</span><span class = 'kwh-total'>kg/CO2</span><div class = total-box-line>Emmisions</div></div>
                </div>
                <div class = 'circuit-graph' id = 'chart5'></div>
                <div class = 'circuit-graph-background'><img class = 'graph-background-image' src ="{{url_for('static',filename='img/graph-background-image.PNG')}}"/></div>
            </div>
        </div>
        <div class = 'graph-buttons-block'><a href = "{{url_for('commercial.historicalusageweek')}}"><div class = 'grah-buttons'><img class = 'graph-buttons-image' src ="{{url_for('static',filename='img/bar-image.png')}}"/> </div></a>
        <a href = "{{url_for('commercial.historicalusageweekline')}}"><div class = 'grah-buttons'><img class = 'graph-buttons-image' src ="{{url_for('static',filename='img/line-image.png')}}"/> </div></div></a>

        <div class = 'total-block'>    
        <div class = 'total-box'><span style = 'font-size: 20px;'>$</span>{{totalprice|int}}<span class = 'decimal-span' style = 'font-size: 10px;'>.{{(totalprice|string).split('.')[1]|truncate(2, true, '', 0)}}</span><div class = total-box-line>Costs</div></div>

        <div class = 'total-box'>{{(total/1000)|int}}<span class = 'decimal-span' style = 'font-size: 9px; width: 5px;'>.{{((total/1000)|string).split('.')[1]|truncate(2, true, '', 0)}}</span><span class = 'kwh-total'>kWh</span><div class = total-box-line>Usage</div></div>

        <div class = 'total-box'>6<span class = 'decimal-span' style = 'font-size: 9px; width: 5px;'>.09</span><span class = 'kwh-total'>kg/CO2</span><div class = total-box-line>Emmisions</div></div>
    </div>

        <div class = "graph-background"><img class = 'graph-background-image' src ="{{url_for('static',filename='img/graph-background-image-week.PNG')}}"/> </div>

        <div class = 'calendar-block'>
        <a href = "{{url_for('commercial.historicalusageweek')}}"><div class="week-L7BXHD avertacy-bold-sapphire-13px" style = "color: white;">Week</div></a>
         <a href = "{{url_for('commercial.historicalusagemonth')}}"><div class="month-L7BXHD avertacy-bold-sapphire-13px">Month</div></a>
        <img class="rectangle-3207-week" src="{{url_for('static',filename='img/rectangle-3207@2x.svg')}}" />
        <a href = "{{url_for('commercial.historicalusage')}}"><div class="day-L7BXHD" style = "color: #3044A5;">Day</div></a></div>


        <div class = Historical-Usage-Block>
         <div class = 'header' id = 'header'>
          <div class="column-names">
              <div class = 'runningcolumn'>Circuit</div>
              <div class = 'percentcolumn'>Percentage</div>
              <div class = "tabss tabssusage" style = 'background-color: transparent;'>
                  <input type = 'radio' checked id = 'watts' name = 'liveusagedata' class="k-wh-l6cqYc tablinksss" onclick ="changetoEnergy();"><label for = 'watts' class=k-wh-l6cqYc>Energy</label>
                  <input type = 'radio' id = 'cost' name = 'liveusagedata' class="x-l6cqYc tablinksss" id = "defaultOpenss" onclick = 'changetoCost();'><label for = 'cost' class = x-l6cqYc>Cost</label>
          </div>
          </div>
      </div>
        <div class = scrollable>
        <div class = 'Energy' id = 'Energy'>  
        {% for i in range (0, len) %}

        <div class="rectangle-3165-L7BXHD {{historicalusage.iloc[i][3]}} {{historicalusage.iloc[i][4]}}" onclick = "createChart('{{historicalusage.iloc[i][0]}}',{{i}});">
        <div class="lunchroom-lights-L7BXHD avertacy-bold-sapphire-11px {{historicalusage.iloc[i][3]}}">{{historicalusage.iloc[i][0]}}</div>
        <div class="x345-L7BXHD avertacy-bold-sapphire-11px {{historicalusage.iloc[i][3]}}">{{historicalusage.iloc[i][1]}}w</div>
        <div class="rectangle-3184-L7BXHD {{historicalusage.iloc[i][3]}}line" {% if historicalusage.iloc[i][1] == 0 %} style = 'width: 2px; background-color: grey;'{% elif historicalusage.iloc[i][1] > 0  %} style = 'width: {{250 * (historicalusage.iloc[i][1]/total) + 5}}px;'{% endif %}><div class="x21-L7BXHD avertacy-bold-sapphire-11px {{historicalusage.iloc[i][3]}}" {% if historicalusage.iloc[i][1] == 0 %} style = 'left: {{250 * (historicalusage.iloc[i][1]/total) + 5}}px;  color: grey;'{% elif historicalusage.iloc[i][1] > 0  %} style = 'left: {{250 * (historicalusage.iloc[i][1]/total) + 10}}px;'{% endif %}>{{"%.2f"|format(((historicalusage.iloc[i][1]/ total) * 100)|float)}}%</div></div></div>
        {% endfor %}
    </div>
    <div class = 'Cost' id = 'Cost'>  
        {% for i in range (0, len) %}

        <div class="rectangle-3165-L7BXHD {{historicalusage.iloc[i][3]}} {{historicalusage.iloc[i][4]}}" onclick = "createChart('{{historicalusage.iloc[i][0]}}',{{i}});">
        <div class="lunchroom-lights-L7BXHD avertacy-bold-sapphire-11px {{historicalusage.iloc[i][3]}}">{{historicalusage.iloc[i][0]}}</div>
        <div class="x345-L7BXHD avertacy-bold-sapphire-11px {{historicalusage.iloc[i][3]}}">${{"%.2f"|format(historicalusage.iloc[i][5]|float)}}/hr</div>
        <div class="rectangle-3184-L7BXHD {{historicalusage.iloc[i][3]}}line" {% if historicalusage.iloc[i][1] == 0 %} style = 'width: 2px; background-color: grey;'{% elif historicalusage.iloc[i][1] > 0  %} style = 'width: {{250 * (historicalusage.iloc[i][1]/total) + 5}}px;'{% endif %}><div class="x21-L7BXHD avertacy-bold-sapphire-11px {{historicalusage.iloc[i][3]}}" {% if historicalusage.iloc[i][1] == 0 %} style = 'left: {{250 * (historicalusage.iloc[i][1]/total) + 5}}px;  color: grey;'{% elif historicalusage.iloc[i][1] > 0  %} style = 'left: {{250 * (historicalusage.iloc[i][1]/total) + 10}}px;'{% endif %}>{{"%.2f"|format(((historicalusage.iloc[i][1]/ total) * 100)|float)}}%</div></div></div>
        {% endfor %}
    </div></div></div>
                        <div class="bar-chart">
                            <div id="chart2"></div>
                        </div>
                          <script>
                            var options = {
                                  colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#DBE2F3'],
                                  series: [
                                  {
                                    name: "Panel A",
                                    data: []
                                  },
                                ],
                                  chart: {
                                  height: '100%',
                                  width: '100%',
                                  type: 'bar',
                                  zoom: {
                                    enabled: false
                                  },
                                  toolbar:{
                                    show: false,
                                  },
                                },
                                dataLabels: {
                                  enabled: false
                                },
                                legend:{
                                  show: false
                                },
                                stroke: {
                                  curve: 'smooth'
                                },
                                grid: {
                                  show: false,
                                  row: {
                                    colors: ['transparent', 'transparent'], // takes an array which will be repeated on columns
                                    opacity: 0.5
                                  },
                                },
                                xaxis: {
                                  labels:{
                                    show: false
                                  },
                                  axisBorder:{
                                    show: false
                                  },
                                  axisTicks:{
                                    show: false
                                  },
                                },
                                yaxis:{
                                  labels:{
                                  style:{
                                      colors: 'DarkBlue',
                                      fontFamily: " Helvetica, Averta CY-Bold",
                                      fontSize: '10px',
                                      fontWeight: 700,
                                  },
                                  maxHeight: undefined,
                                   "formatter": function (val) {
                                    return val.toFixed(2)
                                },
                                },
                                },
                                };

                                var chart2 = new ApexCharts(document.querySelector("#chart2"), options);
                                chart2.render();
                        </script>
                          <script>
                            var options = {
                                  colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#DBE2F3'],
                                  series: [
                                  {
                                    name: "Panel A",
                                    data: []
                                  },
                                ],
                                  chart: {
                                  height: '219px',
                                  width: '660px',
                                  type: 'bar',
                                  zoom: {
                                    enabled: false
                                  },
                                  toolbar:{
                                    show: false,
                                  },
                                },
                                dataLabels: {
                                  enabled: false
                                },
                                legend:{
                                  show: false
                                },
                                stroke: {
                                  curve: 'smooth'
                                },
                                grid: {
                                  row: {
                                    colors: ['transparent', 'transparent'], // takes an array which will be repeated on columns
                                    opacity: 0.5
                                  },
                                },
                                xaxis: {
                                  labels:{
                                    show: false
                                  },
                                  axisBorder:{
                                    show: false
                                  },
                                  axisTicks:{
                                    show: false
                                  },
                                },
                                yaxis:{
                                  labels:{
                                  style:{
                                      colors: 'DarkBlue',
                                      fontFamily: " Helvetica, Averta CY-Bold",
                                      fontSize: '10px',
                                      fontWeight: 700,
                                  },
                                  maxHeight: undefined,
                                   "formatter": function (val) {
                                    return val.toFixed(2)
                                },
                                },
                                },
                                };

                                var chart5 = new ApexCharts(document.querySelector("#chart5"), options);
                                chart5.render();
                        </script>
        <img class="rectangle-3269-L7BXHD" src="{{url_for('static',filename='img/rectangle-3269@2x.svg')}}" />
        <form onsubmit="setTimeout(function(){window.location.reload();},10);" method = "POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="group-7286-L7BXHD">
          <input onchange= "submit(); getTotal();" value = {{weekdate}} name = 'date' id = 'today2' type = 'week' class="march-18th-2021-tkyWp6">
          <div id = 'total' style = 'color: transparent;'></div>
          <div id = 'totalprice' style = 'color: transparent;'></div>
          <div id = 'percentage' style = 'color: transparent;'></div>
        </div>
        </form>
      </div>
      </div>
    </div>
  </body>
  <script >var options = {
                              labels: ["Lighting", "Equipment", "HVAC", "Plug Load", "Hot Water", "Other"],
                              series: [{{lighttotal}},{{equipmenttotal}},{{hvactotal}},{{plugtotal}},{{watertotal}},{{othertotal}} ],
                              chart: {
                              width: 200,
                              type: 'donut',
                            },
                            dataLabels: {
                              enabled: false
                            },
                            legend: {
                                position: 'bottom',
                                show:false
                            },

                            colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#90C449','#DBE2F3'],

                            responsive: [{
                              breakpoint: 480,
                              options: {
                                chart: {
                                  width: 300
                                },
                              }
                            }]
                            };
                            var chart = new ApexCharts(document.querySelector("#chart"), options);
                            chart.render();
</script>
  <script >var paneltotals = {{panelchart | tojson}};
              var panelnames = {{panelnames | tojson}};
              var options = {
                              labels: panelnames,
                              series: paneltotals,
                              chart: {
                              width: 200,
                              type: 'donut',
                            },
                            dataLabels: {
                              enabled: false
                            },
                            legend: {
                                position: 'bottom',
                                show:false
                            },

                            colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#90C449','#DBE2F3'],

                            responsive: [{
                              breakpoint: 480,
                              options: {
                                chart: {
                                  width: 300
                                },
                              }
                            }]
                            };
                            var chart3 = new ApexCharts(document.querySelector("#chart3"), options);
                            chart3.render();
</script>
  <script >var options = {
                              labels: ["Lighting", "Equipment", "HVAC", "Plug Load", "Hot Water", "Other"],
                              series: [{{lighttotal}},{{equipmenttotal}},{{hvactotal}},{{plugtotal}},{{watertotal}},{{othertotal}} ],
                              chart: {
                              width: 200,
                              type: 'donut',
                            },
                            dataLabels: {
                              enabled: false
                            },
                            legend: {
                                position: 'bottom',
                                show:false
                            },

                            colors:['#3649A8','#3BCDEE','#EE5937', '#EE8F37','#90C449','#DBE2F3'],

                            responsive: [{
                              breakpoint: 480,
                              options: {
                                chart: {
                                  width: 300
                                },
                              }
                            }]
                            };
                            var chart4 = new ApexCharts(document.querySelector("#chart4"), options);
                            chart4.render();
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    if ( $('#today2')[0].type != 'date' ) $('#today2').datepicker();
  </script>
    <script>
    function openNav(panel) {
  document.getElementById("sidebar").style.width = "600px";
  document.getElementById("panelletter").innerHTML = panel;
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {  document.getElementById("sidebar").style.width = "0";}

      function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();


var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
  function toggle(source) {
      checkboxes = document.getElementsByName('panel1check');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }

  </script>
  <script>
    var newtotal = 0;
    var newtotalprice = 0;
    var newpercent = 0;
    var colors = ['{{colours[0]}}','{{colours[1]}}','{{colours[2]}}','{{colours[3]}}','{{colours[4]}}','{{colours[5]}}'];
    function toggleLighting() {
  var x = document.getElementsByClassName("lighting");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
}
  if (x[0].style.display === "none") {
    newtotal = (newtotal - {{lighttotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{lightprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{lightpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeLighting();
    chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{lighttotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{lightprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{lightpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addLighting();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleEquipment() {
  var x = document.getElementsByClassName("equipment");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
    if (x[0].style.display === "none") {
    newtotal = (newtotal - {{equipmenttotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{equipmentprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{equipmentpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeEquipment();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{equipmenttotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{equipmentprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{equipmentpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addEquipment();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleHVAC() {
  var x = document.getElementsByClassName("hvac");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{hvactotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{hvacprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{hvacpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeHVAC();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{hvactotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{hvacprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{hvacpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addHVAC();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function togglePlugLoad() {
  var x = document.getElementsByClassName("plugload");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{plugtotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{plugprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{plugpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removePlug();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{plugtotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{plugprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{plugpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addPlug();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleHotWater() {
  var x = document.getElementsByClassName("hotwater");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{watertotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{waterprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{waterpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeWater();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{watertotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{waterprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{waterpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addWater();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  }
}
function toggleOther() {
  var x = document.getElementsByClassName("other");
  var i;
  for (i = 0; i < x.length; i++) {
    if (x[i].style.display === "none") {
    x[i].style.display = "block";
  } else {
    x[i].style.display = "none";
  }
  }
      if (x[0].style.display === "none") {
    newtotal = (newtotal - {{othertotal}});
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - {{otherprice}});
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - {{otherpercent}});
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    removeOther();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})
  } else {
    newtotal = (newtotal - -Math.abs({{othertotal}}));
    document.getElementById("total").innerHTML = Math.abs(newtotal).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newtotalprice = (newtotalprice - -Math.abs({{otherprice}}));
    document.getElementById("totalprice").innerHTML =Math.abs(newtotalprice).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    newpercent = (newpercent - -Math.abs({{otherpercent}}));
    document.getElementById("percentage").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0];
    document.getElementById("percent3").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    document.getElementById("percent4").innerHTML = Math.abs(newpercent).toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + "<span style = 'font-size: 12px;'>%</span>";
    addOther();
        chart.updateOptions({
  colors: [colors[0],colors[1],colors[2],colors[3],colors[4],colors[5]]
})

  }
}

function getTotal() {
  newtotal = {{"%.2f"|format(total/1000)|float}};
  document.getElementById("total").innerHTML = newtotal;
  newtotalprice = {{"%.2f"|format(totalprice)|float}}
  document.getElementById("totalprice").innerHTML =newtotalprice;
  newpercent = 100;
  document.getElementById("percentage").innerHTML = newpercent;
  document.getElementById("percent3").innerHTML = newpercent + "<span style = 'font-size: 12px;'>%</span>";
  document.getElementById("percent4").innerHTML = newpercent + "<span style = 'font-size: 12px;'>%</span>";
}
function resetVariables(){
  newtotal = 0;
  newtotalprice = 0;
  newpercent = 0;
}
  </script>
  <script>
    function removeLighting() {
        colors[0] = '#FFFFFF'
      }
      function removeEquipment() {
        colors[1] = '#FFFFFF'
      }
      function removeHVAC() {
        colors[2] = '#FFFFFF'
      }
      function removePlug() {
        colors[3] = '#FFFFFF'
      }
      function removeWater() {
        colors[4] = '#FFFFFF'
      }
      function removeOther() {
        colors[5] = '#FFFFFF'
      }
  </script>
    <script>
    function addLighting() {
        colors[0] = '#3649A8'
      }
      function addEquipment() {
        colors[1] = '#3BCDEE'
      }
      function addHVAC() {
        colors[2] = '#EE5937'
      }
      function addPlug() {
        colors[3] = '#EE8F37'
      }
      function addWater() {
        colors[4] = '#90C449'
      }
      function addOther() {
        colors[5] = '#DBE2F3'
      }
  </script>
  <script>
    function checkIf0(){
        if(colors[0] == '#FFFFFF' && colors[1] == '#FFFFFF' && colors[2] == '#FFFFFF' && colors[3] == '#FFFFFF' && colors[4] == '#FFFFFF' && colors[5] == '#FFFFFF'){
              document.getElementById("total").innerHTML = 0;
              document.getElementById("totalprice").innerHTML =0;
              document.getElementById("percentage").innerHTML = 0;
              document.getElementById("percent2").innerHTML = 0;
              document.getElementById("percent3").innerHTML = 0 + "<span style = 'font-size: 12px;'>%</span>";
              document.getElementById("percent4").innerHTML = 0 + "<span style = 'font-size: 12px;'>%</span>";
                    }
    }
    function changetoEnergy(){
      document.getElementById('Energy').style.display = 'block';
      document.getElementById('Cost').style.display = 'none';
    }
    function changetoCost(){
      document.getElementById('Cost').style.display = 'block';
      document.getElementById('Energy').style.display = 'none';
    }

    function createChart(name, number){
        var data = {{schedule | tojson}};
        var string = data[number];
        string = string.replace('[', '')
        string = string.replace(']', '')
        var datalist = string.split(",");
        chart5.updateSeries([{ 
            name: name,
            data: datalist,
        } 
        ]); 
        document.getElementById('circuit-block').style.width = '744px';
        document.getElementById("circuit-title").innerHTML = name;
        document.getElementById('circuit-block').style.border = 'border: 2px solid #E3E7ED';
    }
    function toggleMaster(category){
    if(category == 'Lighting'){
        toggleLighting();
    }
    if(category == 'Plug Load'){
        togglePlugLoad();
    }
    if(category == 'HVAC'){
        toggleHVAC();
    }
    if(category == 'Equipment'){
        toggleEquipment();
    }
    if(category == 'Hot Water'){
        toggleHotWater();
    }
    if(category == 'Other'){
        toggleOther();
    }
}
function closeCircuitBlock(){
    document.getElementById('circuit-block').style.width = '0px';
    document.getElementById('circuit-block').style.border = "2px solid transparent";
}
  </script>
  <script>
        function createTotalChart(){
    var data = {{schedule | tojson}};
    var totalset = [];
    var string = data[0];
    string = string.replace('[', '');
    string = string.replace(']', '');
    var datalist = string.split(",");
    totalset.length = datalist.length;
    totalset.fill(0);
    for(let i = 0; i < datalist.length; i++){
        var string = data[i];
        if(typeof string !== 'undefined'){
        string = string.replace('[', '');
        string = string.replace(']', '');
        var datalist = string.split(",");
        console.log(datalist.length);
        for(let k = 0; k < datalist.length; k++){
        totalset[k] += parseFloat(datalist[k]);
      }
    }
    }


    chart2.updateSeries([{ 
        name: 'Historical Usage',
        data: totalset,
    } 
    ]); 
    }
</script>
</html>
