<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1360, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='https://animaproject.s3.amazonaws.com/home/favicon.png')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/overview-main.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/globals.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" type="text/javascript"></script>
  </head>
  <body style="margin: 0; background: #ffffff" onload="resetVariables(); getTotal(); changeToKWH(); populatePanel(); changeDotColourCategory();">
    <input type="hidden" id="anPageName" name="page" value="overview-main" />
    <div class="container-center-horizontal">
      <div class="overview-main screen">
        <div class="rectangle-2893-l6cqYc"  id = 'leftretract'>
        <div class = 'activeline'></div>
        <img class = 'retractbuttonleft' id = 'leftbutton' onclick = "retractleft()" src = "{{url_for('static',filename='img/retractbuttonbackground.png')}}"/><img class = 'retractbuttonarrowleft'  onclick = "retractleft()" id = 'leftarrow' src = "{{url_for('static',filename='img/retractbuttonarrow.png')}}"/>
        <div class="header-l6cqYc" id = 'logodiv'><img class="pollen-2-7QcJ16" id = logoimage src="{{url_for('static',filename='img/logoimage.png')}}" /></div>
        <div class="dashboard-l6cqYc" id = 'dashboard'><img class="dashboardimage" src="{{url_for('static',filename='img/dashboardimage.png')}}" />Dashboard</div>
        <div class="overview-l6cqYc" id = 'liveusage'><img class="liveusageimage" src="{{url_for('static',filename='img/liveusageonimage.png')}}" />Live Usage</div>
        <a href = "{{url_for('commercial.historicalusage')}}"><div class="historical-l6cqYc avertacy-bold-sapphire-13px" id = 'historical'><img class="historicalimage" src="{{url_for('static',filename='img/historicalimage.png')}}" />Historical</div></a>
        <div class="inventory-l6cqYc" id = 'inventory'><img class="inventoryimage" src="{{url_for('static',filename='img/inventoryimage.png')}}" />Inventory</div>
        <div class="utilities-l6cqYc" id = 'utilities'><img class="utilitiesimage" src="{{url_for('static',filename='img/utilitiesimage.png')}}" />Utilities</div>
        <a href = "{{url_for('accounts.logout')}}"><div class="logout-l6cqYc avertacy-bold-sapphire-13px" id = 'logout'><img class="logoutimage" src="{{url_for('static',filename='img/logoutimage.png')}}" />Logout</div></a>

        <div class = 'imageblock' id ='imageblock'>
        <img class="kaltire-256-2-l6cqYc" src="{{url_for('static',filename='img/kaltire--256-2@22x.png')}}" />
        <div class = 'buildingname'>Butetown Store</div>
        <p class="x4720-yellowhead-on-ab-t5-l-3-cs-l6cqYc">4720 Yellowhead Trail NW</p>
        <div class = 'aboutbutton'><img class="info-imageblue" src="{{url_for('static',filename='img/infoimageblue.png')}}"/>About</div>
        <div class = 'switchbutton'><img class="info-imageblue" src="{{url_for('static',filename='img/switchimage.png')}}"/>Switch</div>
        <div class="group-7195-l6cqYc">
          <div class="rectangle-2316-33iHaU"></div>
          <div class="chevron-down-33iHaU"><img class="vector-LNtgXx" src="{{url_for('static',filename='img/vector@22x.svg')}}" /></div>
            </div>
        </div>
    </div>

    <div class = 'historicalsavingsblock' id ='historicalblock' style = 'width: 1040px'>
        <img class="historicalsavingsimage" src="{{url_for('static',filename='img/historicalsavingsimage.png')}}" />
        <div class = 'savingstext'>You saved a total energy of <span class = actualsavings>30%</span></div>
        <a href = "{{url_for('commercial.historicalusage')}}"><img class="seehistoricalimage" src="{{url_for('static',filename='img/seehistorical.png')}}" /></a>
        <div class = 'historicalblockretract'><img class = 'historicalarrow' id = 'historicalarrow' onclick = "retracthistorical()" src = "{{url_for('static',filename='img/historicalarrow.png')}}"/></div>

    </div>
        <div class = 'Live-Usage2' id = 'Live-Usage'>
            <div class = 'live-usage-block' style = 'margin-right: 200px;'>
                <div class = 'live-usage-header'>General Overview</div>
                <div class = 'live-usage-content'>
                    <a href = "{{url_for('commercial.facilityoverview')}}"><div class = 'live-usage-arrow'><img class = 'live-usage-arrow-image' id = 'historicalarrow' src = "{{url_for('static',filename='img/live-usage-arrow-image.png')}}"/></div></a>
                </div>
            </div>
            <div class = 'live-usage-block'>
                <div class = 'live-usage-header'>Weather</div>
                <div class = 'live-usage-content'>
                    <div class = 'live-usage-arrow'><img class = 'live-usage-arrow-image' id = 'historicalarrow' src = "{{url_for('static',filename='img/live-usage-arrow-image.png')}}"/></div>
                </div>
            </div>
            <div class = 'live-usage-block' style = 'margin-right: 200px;'>
                <div class = 'live-usage-header'>Operating Hours</div>
                <div class = 'live-usage-content'>
                    <a href = "{{url_for('commercial.operatinghours')}}"> <div class = 'live-usage-arrow'><img class = 'live-usage-arrow-image' id = 'historicalarrow' src = "{{url_for('static',filename='img/live-usage-arrow-image.png')}}"/></div></a>
                </div>
            </div>
            <div class = 'live-usage-block'>
                <div class = 'live-usage-header'>Comparisons</div>
                <div class = 'live-usage-content'>
                    <div class = 'live-usage-arrow'><img class = 'live-usage-arrow-image' id = 'historicalarrow' src = "{{url_for('static',filename='img/live-usage-arrow-image.png')}}"/></div>
                </div>
            </div> 
        </div>
      </div>
    </div>
  </body>
</html>
